/* Lemmy */

.prefix {
  opacity: var(--atlas-opacity-2);
}

.community-list {
  margin: var(--atlas-size-10) 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--atlas-size-12);
}

.community-button {
  @include atlas-shadow(var(--atlas-shadow-inset));
  height: var(--atlas-size-08);
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));

  &.community-button-active {
    background-color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  }
  &:hover {
    background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
    color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  }
}

.view-more {
  margin: var(--atlas-size-08) 0;
  background-color: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  transition: var(--atlas-transition-fast);

  &:hover {
    background-color: hsl(var(--atlas-color-primary));
    transition: var(--atlas-transition-slow);
  }
}

/* Comunity Info Card */

.community-info-card-content {
  .user-pronouns p {
    background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
  }

  a.post-creator {
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  }

  -hightlighted {
    background-color: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-2));
  }

  .community-name a {
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  }
}

/* Lemmy Settings */

.lemmy-settings {
  display: grid;
  grid-auto-flow: column;
  gap: var(--atlas-size-12);

  // background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  border-radius: var(--atlas-border-radius-1);
  @include atlas-shadow(var(--atlas-shadow-inset));
  overflow: hidden;
  overflow-x: scroll;

  .lemmy-setting-container {
    display: flex;
    gap: var(--atlas-size-14);
    background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
    // padding: var(--atlas-size-16);
    border-radius: var(--atlas-border-radius-1);
    @include atlas-shadow(var(--atlas-shadow-1));
  }

  .lemmy-setting {
    height: var(--atlas-size-08);
    width: var(--atlas-size-07);
    @include atlas-shadow(var(--atlas-shadow-inset));

    &:hover {
      color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
      background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
    }
    &[data-state="active"] {
      color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
      background-color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));

      // z-index: 1;
    }
  }
}

/* Post, Comment */

.post-info-container,
.post-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: var(--atlas-size-12); */
}

.community-post .post-info-container {
  display: grid;
  grid-template-columns: var(--atlas-size-08) var(--atlas-size-06) 1fr;
  gap: var(--atlas-size-09);
  margin: var(--atlas-size-13) 0;
}
.comment-info-container {
  display: flex;
  align-items: center;
  gap: var(--atlas-size-09);
  margin: var(--atlas-size-13) 0;
  button {
    height: unset;
    padding: 0;
  }
}

.post-image-container {
  padding: 0;
  margin-top: var(--atlas-size-10);
  overflow: hidden;
  height: unset;
  border-radius: var(--atlas-border-radius-1);
}

.post-info-container button {
  padding: 0;
}

.community-post .post-body {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  padding: var(--atlas-size-10);
  border-radius: var(--atlas-border-radius-1);
}

.user-pronouns p,
.community-stats p {
  @include atlas-shadow(var(--atlas-shadow-inset));
  margin: 0;
  font-size: var(--atlas-size-09);
  font-weight: 900;
  padding: var(--atlas-size-12) var(--atlas-size-10);
  border-radius: var(--atlas-border-radius-1);
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
}

.community-stats p {
  font-weight: initial;
}

.community-reply button,
.community-post button {
  background-color: transparent;
}

.post-vote-container {
  margin: 0 var(--atlas-size-12);
}

.post-vote-container > * {
  margin: 0 var(--atlas-size-16);
}

.post-mod {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
}
p.post-vote,
sub.post-vote,
sup.post-vote {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
}

p.post-vote {
  text-align: center;
  font-size: var(--atlas-size-09);
}

.commment-vote-score {
  color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  font-weight: 900;
}

.post-score-positive {
  color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
}
.post-score-negative {
  color: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
}

.post-highlight > div > .comment-body {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  border-radius: var(--atlas-border-radius-1);
  padding: var(--atlas-size-10);
  margin: var(--atlas-size-10);
  position: relative;
}
.post-highlight > div > .comment-body,
.post-highlight > div > .comment-body p,
.post-highlight > div > .comment-body li,
.post-highlight > div > .comment-body a {
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
}

.post-highlight blockquote {
  border-color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
}

.post-timestamp,
.comment-count {
  opacity: var(--atlas-opacity-2);
  margin: 0 var(--atlas-size-12);
}

.post-to {
  margin: 0;
}

.post-meta {
  display: grid;
  gap: var(--atlas-size-12);
}

.post-alert {
  color: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
  font-size: var(--atlas-size-10);
  font-weight: 900;
}

.post-body {
  opacity: var(--atlas-opacity-3);
  margin-top: var(--atlas-size-12);
  margin-bottom: var(--atlas-size-10);
  word-wrap: break-word;
}

.post-body p {
  margin-bottom: var(--atlas-size-10);
}

.post-body img,
.comment-body img {
  display: inline;
}
.reply-button {
  padding: var(--atlas-size-09) var(--atlas-size-08);
  font-style: italic;
}
.reply-button span {
  font-size: var(--atlas-size-09);
  /* font-weight: 900; */
}
.reply-button:hover {
  color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
}

.post-replycount-icon {
  color: var(--atlas-color-post-blue);
  text-shadow: calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
      var(--atlas-color-post-green),
    calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
      var(--atlas-color-post-yellow),
    calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
      var(--atlas-color-post-red);
  margin-right: var(--atlas-size-12);
}

.reply-button:hover .post-replycount-icon {
  animation: replyAnimation var(--atlas-timing-fast);
}

@keyframes replyAnimation {
  0% {
    color: var(--atlas-color-post-blue);
    text-shadow: calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-green),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-yellow),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-red);
  }
  14.2857% {
    color: var(--atlas-color-post-teal);
    text-shadow: calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-blue),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-green),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-yellow);
  }
  28.5714% {
    color: var(--atlas-color-post-purple);
    text-shadow: calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-teal),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-blue),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-green);
  }
  42.8572% {
    color: var(--atlas-color-post-pink);
    text-shadow: calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-purple),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-teal),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-blue);
  }
  57.1429% {
    color: var(--atlas-color-post-red);
    text-shadow: calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-pink),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-purple),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-teal);
  }
  71.4286% {
    color: var(--atlas-color-post-yellow);
    text-shadow: calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-red),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-pink),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-purple);
  }
  85.7143% {
    color: var(--atlas-color-post-yellow);
    text-shadow: calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-red),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-pink),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-purple);
  }
  090.0% {
    color: var(--atlas-color-post-green);
    text-shadow: calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-yellow),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-red),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-pink);
  }
}

.post-reply-container {
  margin-top: var(--atlas-size-15);
  margin-bottom: 0;
  padding: 0 var(--atlas-size-15);
  border-radius: var(--atlas-border-radius-1);
  border-top: none;
  border-bottom: none;
}

.post-reply-depth-1 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-red);
}

.post-reply-depth-2 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-yellow);
}

.post-reply-depth-3 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-green);
}

.post-reply-depth-4 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-blue);
}

.post-reply-depth-5 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-teal);
}

.post-reply-depth-6 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-purple);
}

.post-reply-depth-7 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-pink);
}

/* Lemmy user */

.user-wrapper,
.community-wrapper {
  display: flex;
  align-items: center;
  gap: 0 var(--atlas-size-12);
  margin-right: var(--atlas-size-12);
}

/* User Info Card */

.user-card-tabs {
  background-color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-1));
  padding: var(--atlas-size-10);
  border-radius: var(--atlas-border-radius-1);
  @include atlas-shadow(var(--atlas-shadow-1));
}

.user-avatar-container,
.community-avatar-container,
.post-thumbnail-container {
  @include atlas-shadow(var(--atlas-shadow-inset));
  overflow: hidden;
  user-select: none;

  width: var(--atlas-size-08);
  height: var(--atlas-size-08);
  border-radius: var(--atlas-border-radius-1);

  cursor: pointer;
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
  text-align: center;
  font-weight: 900;
}

.post-thumbnail-container {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1)) !important;
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
  width: var(--atlas-size-06);
  height: var(--atlas-size-06);
}

.post-thumbnail-container img {
  @include atlas-shadow(var(--atlas-shadow-inset));
  height: 100%;
  width: 100%;
  line-height: var(--atlas-size-06);
  object-fit: cover;
  font-size: var(--atlas-size-08);
  position: relative;
  transition: var(--atlas-transition-slow);
}

.community-avatar-container {
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2)) !important;
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
}

.user-avatar-infocard {
  width: var(--atlas-size-04);
  height: var(--atlas-size-04);
  @include atlas-shadow(var(--atlas-shadow-1));
}

.user-avatar-container:focus,
.community-avatar-container:focus {
  @include atlas-shadow(var(--atlas-shadow-1));
}

.user-avatar-image,
.community-avatar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.user-avatar-banner-offset {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(calc(var(--atlas-size-09) * -1), calc(var(--atlas-size-09) * -1));
}

.banner-image {
  border-radius: var(--atlas-border-radius-1);
}

a.post-creator {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  font-weight: bold;
  font-size: clamp(var(--atlas-size-10), 1.618vw + 1rem, var(--atlas-size-09));
}

.user-bio {
  max-height: var(--atlas-size-00);
  overflow-y: scroll;
}

.user-bio img,
.post-body img {
  max-height: var(--atlas-size-00);
  object-fit: contain;
  transition: all var(--atlas-transition-slow);
}

.post-body img:hover {
  max-height: unset;
}

.user-info-card-content,
.community-info-card-content {
  @include atlas-blur(var(--atlas-size-11));
  @include atlas-shadow(var(--atlas-shadow-1));
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  padding: var(--atlas-size-10);
  max-width: calc(var(--atlas-size-00) * 2);
  /* width: 100%; */
  /* min-width: var(--atlas-size-00); */

  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
  border: 1px solid hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  border-left: var(--atlas-size-14) solid
    hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  border-radius: var(--atlas-border-radius-1);

  animation-duration: var(--atlas-time-1);
  animation-timing-function: var(--atlas-timing-function);
  will-change: transform, opacity;
  z-index: 9999;
}

@media only screen and (max-width: 768px) {
  .user-info-card-content,
  .community-info-card-content {
    width: calc(100vw - var(--atlas-size-07)) !important;
  }
}

.user-mod,
.community-mod {
  font-style: italic;
}

.mod-list {
  background: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-2));
  padding: var(--atlas-size-10);
  display: grid;
  gap: var(--atlas-size-10);
  @include atlas-shadow(var(--atlas-shadow-1));
  border-radius: var(--atlas-border-radius-1);
  max-height: var(--atlas-size-00);
  overflow-y: scroll;
}

.user-info-card-content .mod-list a {
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
}

.mod-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--atlas-size-12);
}

.user-pronouns,
.community-stats {
  display: flex;
  gap: var(--atlas-size-14);
}

.user-info-card-content .user-pronouns p,
.community-info-card-content .community-stats p {
  @include atlas-shadow(var(--atlas-shadow-inset));
  padding: var(--atlas-size-12) var(--atlas-size-10);
  margin-bottom: var(--atlas-size-12);
  border-radius: var(--atlas-border-radius-1);
  background-color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
}

.user-info-card-content .user-posts .user-pronouns p {
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
}

.user-info-card-content h5,
.community-info-card-content h5 {
  text-transform: initial;
}

.user-info-card-content-hightlighted {
  background-color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-2));
}

.user-info-card-content-hightlighted .user-pronouns p {
  background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
}

.user-info-card-content[data-side="top"],
.community-info-card-content[data-side="top"] {
  animation-name: slideDownAndFade;
}
.user-info-card-content[data-side="right"],
.community-info-card-content[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.user-info-card-content[data-side="bottom"],
.community-info-card-content[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.user-info-card-content[data-side="left"],
.community-info-card-content[data-side="left"] {
  animation-name: slideRightAndFade;
}

.user-info-card-content .user-avatar-container,
.community-info-card-content .community-avatar-container {
  margin: 0;
}

.user-info-card-arrow {
  fill: white;
}

.user-posts {
  background-color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  padding: var(--atlas-size-10);
  border-radius: var(--atlas-border-radius-1);
  max-height: calc(var(--atlas-size-00) * 2);
  overflow-y: scroll;
  @include atlas-shadow(var(--atlas-shadow-1));
}

/* Collapse */

.post-collapse-trigger {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
  margin: var(--atlas-size-10);
  &:hover,
  &:focus {
    cursor: pointer;
    color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  }
}

.post-body {
  animation: slideDown var(--atlas-time-2) var(--atlas-timing-function);
}

.community-post[data-state="open"] {
  padding-left: var(--atlas-size-10);
  border-left: var(--atlas-size-14) solid
    hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  border-radius: var(--atlas-border-radius-1);
}

.community-post[data-state="open"] > [data-state="open"] {
  animation: slideDown var(--atlas-time-2) var(--atlas-timing-function);
}

.community-post[data-state="closed"] > [data-state="closed"] {
  animation: slideUp var(--atlas-time-2) var(--atlas-timing-function);
}

.community-post[data-state="open"] .post-thumbnail-container img {
  transform: scale(1.312);
}

.community-post[data-state="closed"] .post-thumbnail-container img {
  transform: unset;
}

.community-post[data-state="closed"] .post-thumbnail-container img:hover {
  transform: scale(1.312);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0;
  }

  50% {
    height: var(--radix-collapsible-content-height);
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
  }

  50% {
    height: var(--radix-collapsible-content-height);
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
