.overpass-filter {
  position: sticky;
  top: 0;
  background-color: transparent;
  border-radius: var(--atlas-border-radius-1);
  z-index: 9;
  margin-bottom: var(--atlas-size-14);
  h5 {
    border-radius: var(--atlas-border-radius-1);
    text-align: right;
    margin-bottom: var(--atlas-size-14);
  }

  select {
    @include atlas-shadow(var(--atlas-shadow-1));
    background-color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
    color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
    text-align: left;
  }
  .filter-menu {
    display: grid;
    gap: var(--atlas-size-14);
  }

  .filter-title {
    display: flex;
    gap: var(--atlas-size-10);
    align-items: center;
    padding: var(--atlas-size-10);
    background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
    span {
      @include atlas-shadow(var(--atlas-shadow-1));
      border-radius: var(--atlas-border-radius-1);
      color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
      background-color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
    }
  }

  .filter-expand {
    @include atlas-shadow(var(--atlas-shadow-1));
    background-color: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
    margin-bottom: var(--atlas-size-12);
    &[data-state="open"] {
      background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
      color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
    }
  }

  .filter-field {
    display: flex;
  }
}

.overpass-item {
  @include atlas-shadow(var(--atlas-shadow-1));
  background: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  padding: var(--atlas-size-14);
  margin-bottom: var(--atlas-size-11);
  border-radius: var(--atlas-border-radius-1);
  display: grid;
  grid-template-columns: minmax(var(--atlas-size-08), 1fr) 4fr;
  align-items: center;
  gap: 0 var(--atlas-size-10);
  cursor: zoom-in;
  h4,
  h6 {
    padding: var(--atlas-size-09);
    text-align: right;
  }

  h6 {
    padding-top: 0;
  }

  small {
    font-weight: 900;
    font-size: var(--atlas-size-10);
  }

  &:hover,
  &.active {
    background: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-2));
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));

    a {
      color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
    }
    .overpass-name {
      color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
      background: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
    }
    .overpass-filterkeys {
      color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
    }
  }

  .overpass-container {
    overflow-y: scroll;
  }

  .overpass-name {
    @include atlas-shadow(var(--atlas-shadow-inset));
    border-radius: var(--atlas-border-radius-1);
    background: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
    color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
    margin-bottom: var(--atlas-size-12);
  }

  .overpass-filterkeys {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--atlas-size-10);
    position: relative;
    color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
    align-items: center;
    align-content: center;
    justify-items: center;
    text-transform: uppercase;
    margin-bottom: var(--atlas-size-12);
  }

  .overpass-filterkey {
    font-size: var(--atlas-size-07);
    text-transform: uppercase;
    display: grid;
    justify-items: center;
    margin-bottom: var(--atlas-size-12);
    & span:nth-child(1) {
    }
    & span:nth-child(2) {
      color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
    }

    :nth-child(n + 3) {
      margin: 0;
      padding: 0;
      font-size: var(--atlas-size-08);
      color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
    }
  }

  .wrapper {
    display: flex;
    margin: var(--atlas-size-12) 0;
  }

  .highlight {
    padding: 0;
    margin: 0;
    margin-bottom: var(--atlas-size-12);
  }

  .overpass-urls {
    display: grid;
    margin: var(--atlas-size-10) 0;
  }

  .wikidata {
    max-width: var(--atlas-size-06);
    padding: var(--atlas-size-09);
    display: block;
    float: right;
  }

  .overpass-expand {
    @include atlas-shadow(var(--atlas-shadow-1));
    background: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
    &:hover,
    &[data-state="open"] {
      background: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-2));
    }
  }

  .overpass-json {
    @include atlas-shadow(var(--atlas-shadow-1));
    padding: var(--atlas-size-09);
    border-radius: var(--atlas-border-radius-1);
    overflow-y: scroll;
    grid-column: 1 / -1;
  }
}
