.anarchist-library-item {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  margin-top: var(--atlas-size-10);
  padding-top: var(--atlas-size-10);
  padding-bottom: var(--atlas-size-12);
  border-radius: var(--atlas-border-radius-1);
  gap: var(--atlas-size-12);
}

.anarchist-library-item > * {
  margin: var(--atlas-size-10) var(--atlas-size-09);
}

p.anarchist-library-author {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  padding: var(--atlas-size-12) var(--atlas-size-10);
  justify-self: flex-end;
  grid-column: 2 / -1;
  height: fit-content;
  width: fit-content;
}

.anarchist-library-item .reply-button {
  padding: 0;
}

.anarchist-library-community {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  margin: var(--atlas-size-12);
  padding: var(--atlas-size-12);

  border-radius: var(--atlas-border-radius-1);
}

.anarchist-library-item .reply-button {
  padding: 0 var(--atlas-size-10);
  padding-top: var(--atlas-size-10);
}

.anarchist-library-container {
  display: flex;
  gap: var(--atlas-size-10);
}

.anarchist-library-readmore {
  text-transform: capitalize;
}
