.feed-item {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  margin-top: var(--atlas-size-10);
  padding-top: var(--atlas-size-10);
  border-radius: var(--atlas-border-radius-1);

  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--atlas-size-12);
}

.feed-item > * {
  margin: var(--atlas-size-10) var(--atlas-size-09);
  grid-column: 1 / -1;
}

.feed-link {
  grid-row: 1;
  grid-column: 1 / -2;
}

p.feed-publish-date {
  background: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  @include atlas-shadow(var(--atlas-shadow-1));
  padding: var(--atlas-size-12) var(--atlas-size-10);
  justify-self: flex-end;
  grid-column: 2 / -1;
  height: 100%;
  max-height: var(--atlas-size-08);
}

.feed-item .reply-button {
  padding: 0;
}

.feed-community {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  margin: var(--atlas-size-14);
  padding: var(--atlas-size-10);
  border-radius: var(--atlas-border-radius-1);
}

.feed-item .reply-button {
  padding: 0 var(--atlas-size-10);
  padding-top: var(--atlas-size-10);
}
