.anarchist-library-item {
  @include atlas-shadow(var(--shadow-atlas-inset));
  background: hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
  margin-top: var(--size-atlas-10);
  padding-top: var(--size-atlas-10);
  padding-bottom: var(--size-atlas-12);

  gap: var(--size-atlas-12);
}

.anarchist-library-item > * {
  margin: var(--size-atlas-10) var(--size-atlas-09);
}

p.anarchist-library-author {
  @include atlas-shadow(var(--shadow-atlas-inset));
  background: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
  padding: var(--size-atlas-12) var(--size-atlas-10);
  justify-self: flex-end;
  grid-column: 2 / -1;
  height: fit-content;
  width: fit-content;
}

.anarchist-library-item .comment__reply-button {
  padding: 0;
}

.anarchist-library-community {
  @include atlas-shadow(var(--shadow-atlas-inset));
  background: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
  margin: var(--size-atlas-12);
  padding: var(--size-atlas-12);
}

.anarchist-library-item .comment__reply-button {
  padding: 0 var(--size-atlas-10);
  padding-top: var(--size-atlas-10);
}

.anarchist-library-container {
  display: flex;
  gap: var(--size-atlas-10);
}

.anarchist-library-readmore {
  text-transform: capitalize;
}
