/* Imports */

@use 'leaflet/dist/leaflet.css';

/* 
    RESETS
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-indent: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a,
figure,
picture {
  margin: 0;
  text-decoration: inherit;
  color: inherit;
}

code {
  display: block;
  text-transform: lowercase;
}

/* 
    MIXINS
*/

/* shadows */

@mixin atlas-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  text-shadow: var(--shadow-atlas-text);
}

/* colors */

@mixin color_background_setting(
  $name,
  $color_identity,
  $color_greyscale,
  $opacity
) {
  .#{$name} {
    color: hsl($color_greyscale / $opacity);
    background: hsl($color_identity);
    border-color: hsl($color_greyscale / $opacity);
    border-radius: var(--border-radius-atlas-1);
  }
  .#{$name} a {
    color: hsl($color_greyscale / $opacity);
  }
  .#{$name}--invert {
    background: hsl($color_greyscale / $opacity);
    color: hsl($color_identity);
    border-color: hsl($color_identity);
    border-radius: var(--border-radius-atlas-1);
  }
  .#{$name}--invert a {
    color: hsl($color_greyscale / $opacity);
  }
}

/* 
    FONT
*/

@font-face {
  font-family: 'Noto Color Emoji';
  src: url('../src/assets/fonts/NotoColorEmoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

/* 
    VARIABLES
*/

:root {
  /* 
      Core Color Pallette 
  */
  // Red
  --color-atlas-red-50: 6.9 100% 94.9%;
  --color-atlas-red-100: 6.5 100% 91%;
  --color-atlas-red-200: 6.2 100% 81%;
  --color-atlas-red-300: 5.9 100% 72%;
  --color-atlas-red-400: 6.2 100% 62%;
  --color-atlas-red-500: 6 100% 52.9%;
  --color-atlas-red-600: 6 100% 42.9%;
  --color-atlas-red-700: 6.3 100% 33.7%;
  --color-atlas-red-800: 5.9 100% 22%;
  --color-atlas-red-900: 6.4 100% 11%;
  --color-atlas-red-950: 5.8 100% 6.1%;

  // Yellow
  --color-atlas-yellow-50: 48 100% 96.1%;
  --color-atlas-yellow-100: 49.8 100% 92%;
  --color-atlas-yellow-200: 49 100% 82.9%;
  --color-atlas-yellow-300: 49.1 100% 75.1%;
  --color-atlas-yellow-400: 48.9 100% 67.1%;
  --color-atlas-yellow-500: 49.1 100% 58%;
  --color-atlas-yellow-600: 48.9 100% 50%;
  --color-atlas-yellow-700: 49.1 100% 42%;
  --color-atlas-yellow-800: 48.8 100% 33.5%;
  --color-atlas-yellow-900: 49 100% 17.1%;
  --color-atlas-yellow-950: 48.3 100% 8%;

  // Green
  --color-atlas-green-50: 147.7 100% 94.9%;
  --color-atlas-green-100: 146.1 100% 91%;
  --color-atlas-green-200: 146 100% 81%;
  --color-atlas-green-300: 146 100% 72%;
  --color-atlas-green-400: 146 100% 62%;
  --color-atlas-green-500: 146 100% 52.9%;
  --color-atlas-green-600: 146 100% 42.9%;
  --color-atlas-green-700: 146.3 100% 33.5%;
  --color-atlas-green-800: 146.3 100% 22%;
  --color-atlas-green-900: 145.7 100% 11%;
  --color-atlas-green-950: 145.2 100% 6.1%;

  // Blue
  --color-atlas-blue-50: 260.8 100% 94.9%;
  --color-atlas-blue-100: 260.9 100% 91%;
  --color-atlas-blue-200: 261 100% 81%;
  --color-atlas-blue-300: 261 100% 72%;
  --color-atlas-blue-400: 261 100% 62%;
  --color-atlas-blue-500: 261 100% 52.9%;
  --color-atlas-blue-600: 261.1 100% 42.9%;
  --color-atlas-blue-700: 261.4 100% 33.5%;
  --color-atlas-blue-800: 260.9 100% 22%;
  --color-atlas-blue-900: 261.4 100% 11%;
  --color-atlas-blue-950: 261.3 100% 6.1%;

  // Neutral
  --color-atlas-dark: 0 100% 6%;
  --color-atlas-light: 0 100% 99%;

  // Chapo
  --color-atlas-post-red: hsla(0, 35%, 50%, 0.5);
  --color-atlas-post-yellow: hsla(50, 35%, 50%, 0.5);
  --color-atlas-post-green: hsla(100, 35%, 50%, 0.5);
  --color-atlas-post-blue: hsla(150, 35%, 50%, 0.5);
  --color-atlas-post-teal: hsla(200, 35%, 50%, 0.5);
  --color-atlas-post-purple: hsla(250, 35%, 50%, 0.5);
  --color-atlas-post-pink: hsla(300, 35%, 50%, 0.5);

  /* 
      fonts
  */
  --font-atlas-sans: Arial, Helvetica, sans-serif;
  --font-atlas-serif: serif;
  --font-atlas-cursive: Impact, cursive, fantasy;
  --font-atlas-mono: mono;
  --font-atlas-emoji: 'Noto Color Emoji', Helvetica, sans-serif;

  --line-height-atlas: 1.2;

  /* 
      sizes 
  */
  --phi: 1.6180339887498948482rem; /* Golden Ratio */

  --size-atlas-00: calc(var(--phi) * 9);
  --size-atlas-01: calc(var(--phi) * 8);
  --size-atlas-02: calc(var(--phi) * 7);
  --size-atlas-03: calc(var(--phi) * 6);
  --size-atlas-04: calc(var(--phi) * 5);
  --size-atlas-05: calc(var(--phi) * 4);
  --size-atlas-06: calc(var(--phi) * 3);
  --size-atlas-07: calc(var(--phi) * 2);
  --size-atlas-08: var(--phi);
  --size-atlas-09: calc(var(--phi) / 2);
  --size-atlas-10: calc(var(--phi) / 3);
  --size-atlas-11: calc(var(--phi) / 4);
  --size-atlas-12: calc(var(--phi) / 5);
  --size-atlas-13: calc(var(--phi) / 6);
  --size-atlas-14: calc(var(--phi) / 7);
  --size-atlas-15: calc(var(--phi) / 8);
  --size-atlas-16: calc(var(--phi) / 9);

  --min-width-atlas: 12.5rem; /* Mobile: 250px / 16px */
  --max-width-atlas: 85.375rem; /* Desktop: 1920px / 16px */
  --max-char-atlas: 80ch;

  /* opacities */

  --opacity-atlas-1: 0.15;
  --opacity-atlas-2: 0.65;
  --opacity-atlas-3: 0.95;

  /* time */

  --timing-atlas-function: cubic-bezier(0.1, 0.1, 0.4, 1);

  --time-atlas-1: 50ms;
  --time-atlas-2: 150ms;
  --time-atlas-3: 450ms;
  --time-atlas-4: 3s;
  --time-atlas-5: 18s;

  /*
      Semantic Aliases
  */

  // Text Colors
  --text-atlas-heading: hsl(var(--color-atlas-red-900));
  --text-atlas-body: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
  --text-atlas-action: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
  --text-atlas-action-hover: hsl(
    var(--color-atlas-yellow-700) / var(--opacity-atlas-2)
  );
  --text-atlas-disabled: hsl(var(--color-atlas-dark) / var(--opacity-atlas-2));
  --text-atlas-success: hsl(
    var(--color-atlas-green-700) / var(--opacity-atlas-3)
  );
  --text-atlas-warning: hsl(
    var(--color-atlas-yellow-600) / var(--opacity-atlas-3)
  );
  --text-atlas-error: hsl(var(--color-atlas-red-700) / var(--opacity-atlas-3));

  // Surface Colors
  --surface-atlas-info: hsl(
    var(--color-atlas-yellow-500) / var(--opacity-atlas-3)
  );
  --surface-atlas-action: hsl(var(--color-atlas-red-700));
  --surface-atlas-option: hsl(
    var(--color-atlas-green-400) / var(--opacity-atlas-3)
  );
  --surface-atlas-disabled: hsl(var(--color-atlas-neutral-100));
  --surface-atlas-page: hsl(var(--color-atlas-red-50) / var(--opacity-atlas-3));
  --surface-atlas-success: hsl(var(--color-atlas-success-100));
  --surface-atlas-warning: hsl(var(--color-atlas-warning-100));
  --surface-atlas-error: hsl(var(--color-atlas-error-100));

  // Border System
  --border-atlas-neutral: hsl(var(--color-atlas-dark) / var(--opacity-atlas-2));
  --border-atlas-active: hsl(var(--color-atlas-primary-500));
  --border-atlas-error: hsl(var(--color-atlas-error-500));
  --border-atlas-disabled: hsl(var(--color-atlas-neutral-200));

  --border-radius-atlas-1: var(--size-atlas-12) 0;
  --border-radius-atlas-2: var(--size-atlas-14);

  // Timing
  --transition-atlas-fast: var(--time-atlas-1) var(--timing-atlas-function);
  --transition-atlas-slow: var(--time-atlas-2) var(--timing-atlas-function);
  --timing-atlas-fast: var(--time-atlas-3) var(--timing-atlas-function) infinite;
  --timing-atlas-slow: var(--time-atlas-4) var(--timing-atlas-function) infinite;
  --timing-atlas-gradient: var(--time-atlas-5) var(--timing-atlas-function)
    infinite alternate-reverse;

  // Shadows
  --shadow-atlas-1: 0 var(--size-atlas-16) var(--size-atlas-16)
      hsl(var(--color-atlas-dark) / 0.08),
    0 var(--size-atlas-15) var(--size-atlas-15)
      hsl(var(--color-atlas-dark) / 0.061),
    0 var(--size-atlas-14) var(--size-atlas-14)
      hsl(var(--color-atlas-dark) / 0.052),
    0 var(--size-atlas-13) var(--size-atlas-13)
      hsl(var(--color-atlas-dark) / 0.046),
    0 var(--size-atlas-12) var(--size-atlas-12)
      hsl(var(--color-atlas-dark) / 0.04),
    0 var(--size-atlas-11) var(--size-atlas-11)
      hsl(var(--color-atlas-dark) / 0.034),
    0 var(--size-atlas-10) var(--size-atlas-10)
      hsl(var(--color-atlas-dark) / 0.028),
    0 var(--size-atlas-09) var(--size-atlas-09)
      hsl(var(--color-atlas-dark) / 0.019);

  --shadow-atlas-inset: inset 0 var(--size-atlas-16) var(--size-atlas-16)
      hsl(var(--color-atlas-dark) / 0.08),
    inset 0 var(--size-atlas-15) var(--size-atlas-15)
      hsl(var(--color-atlas-dark) / 0.061),
    inset 0 var(--size-atlas-14) var(--size-atlas-14)
      hsl(var(--color-atlas-dark) / 0.052),
    inset 0 var(--size-atlas-13) var(--size-atlas-13)
      hsl(var(--color-atlas-dark) / 0.046),
    inset 0 var(--size-atlas-12) var(--size-atlas-12)
      hsl(var(--color-atlas-dark) / 0.04),
    inset 0 var(--size-atlas-11) var(--size-atlas-11)
      hsl(var(--color-atlas-dark) / 0.034),
    inset 0 var(--size-atlas-10) var(--size-atlas-10)
      hsl(var(--color-atlas-dark) / 0.028),
    inset 0 var(--size-atlas-09) var(--size-atlas-09)
      hsl(var(--color-atlas-dark) / 0.019);

  --intensity: 0.69;
  --shadow-atlas-text: 0 var(--size-atlas-16) var(--size-atlas-16)
      hsl(var(--color-atlas-dark) / calc(0.08 * var(--intensity))),
    0 var(--size-atlas-15) var(--size-atlas-15)
      hsl(var(--color-atlas-dark) / calc(0.061 * var(--intensity))),
    0 var(--size-atlas-14) var(--size-atlas-14)
      hsl(var(--color-atlas-dark) / calc(0.052 * var(--intensity))),
    0 var(--size-atlas-13) var(--size-atlas-13)
      hsl(var(--color-atlas-dark) / calc(0.046 * var(--intensity))),
    0 var(--size-atlas-12) var(--size-atlas-12)
      hsl(var(--color-atlas-dark) / calc(0.04 * var(--intensity))),
    0 var(--size-atlas-11) var(--size-atlas-11)
      hsl(var(--color-atlas-dark) / calc(0.034 * var(--intensity))),
    0 var(--size-atlas-10) var(--size-atlas-10)
      hsl(var(--color-atlas-dark) / calc(0.028 * var(--intensity))),
    0 var(--size-atlas-09) var(--size-atlas-09)
      hsl(var(--color-atlas-dark) / calc(0.019 * var(--intensity)));
}

[data-theme='dark'] {
  --color-atlas-light: 282.86 0% 13%;
  --color-atlas-dark: 282.86 100% 98.5%;
  input {
    color: hsl(var(--color-atlas-dark));
  }
}

[data-theme='red'] {
  --color-atlas-primary: 0 100% 6%;
  --color-atlas-secondary: 0 0% 0%;
  --color-atlas-link: 0 59% 41%;
  --color-atlas-dark: 0 100% 98%;
  --color-atlas-light: 0 100% 27%;

  @include color_background_setting(
    'tertiary',
    var(--color-atlas-tertiary),
    var(--color-atlas-dark),
    var(--opacity-atlas-3)
  );
}

[data-theme='old'] {
  --coffee: hsla(20, 25%, 35%, 1);
  --ash-gray: hsla(152, 9%, 61%, 1);
  --rose-ebony: hsla(9, 19%, 29%, 1);
  --van-dyke: hsla(8, 23%, 20%, 1);
  --lion: hsla(35, 26%, 53%, 1);

  /* colors */
  --color-atlas-primary: 20 25% 35%; /* Dark Red (#AC130000) */
  --color-atlas-secondary: 152 40% 70%; /* Black (#000000) */
  --color-atlas-tertiary: 9 19% 29%; /* Dark Brown (#654321) */
  --color-atlas-link: 9 80% 20%; /* Dark Crimson (#A52A2A) */
  --color-atlas-accent: 152 80% 70%; /* Gold (#CD7F32) */

  --color-atlas-dark: 8 23% 20%;
  --color-atlas-light: 35 40% 60%;

  /* SECONDARY */
  @include color_background_setting(
    'secondary',
    var(--color-atlas-secondary),
    var(--color-atlas-dark),
    var(--opacity-atlas-3)
  );
}

/* Info */
@include color_background_setting(
  'info',
  var(--color-atlas-yellow-500),
  var(--color-atlas-dark),
  var(--opacity-atlas-3)
);

/* Action */

@include color_background_setting(
  'action',
  var(--color-atlas-green-400),
  var(--color-atlas-dark),
  var(--opacity-atlas-3)
);

/* Option */
@include color_background_setting(
  'option',
  var(--color-atlas-red-700),
  var(--color-atlas-yellow-500),
  var(--opacity-atlas-3)
);

/* Warning */
@include color_background_setting(
  'warning',
  var(--color-atlas-yellow-500),
  var(--color-atlas-dark),
  var(--opacity-atlas-3)
);

/* Error */
@include color_background_setting(
  'error',
  var(--color-atlas-red-700),
  var(--color-atlas-light),
  var(--opacity-atlas-3)
);

/*  Neutral */
@include color_background_setting(
  'neutral',
  var(--color-atlas-red-200),
  var(--color-atlas-dark),
  var(--opacity-atlas-3)
);

/* 
    BASE
 */

html {
  height: -webkit-fill-available;
  height: 100%;
  font-size: 95%;
} /*16px*/

body {
  background-image: linear-gradient(
      #ffffff var(--size-atlas-16),
      transparent var(--size-atlas-16)
    ),
    linear-gradient(
      90deg,
      #ffffff var(--size-atlas-16),
      transparent var(--size-atlas-16)
    ),
    linear-gradient(
      #ffffff var(--size-atlas-15),
      transparent var(--size-atlas-15)
    ),
    linear-gradient(
      90deg,
      #ffffff var(--size-atlas-15),
      #ffeeee var(--size-atlas-15)
    );
  background-size:
    var(--size-atlas-07) var(--size-atlas-07),
    var(--size-atlas-07) var(--size-atlas-07),
    var(--size-atlas-12) var(--size-atlas-12),
    var(--size-atlas-12) var(--size-atlas-12);
  background-color: var(--surface-atlas-page);
  font-family: var(--font-atlas-sans);
  font-weight: 400;
  line-height: var(--line-height-atlas);
  color: var(--text-atlas-body);
  height: 100%;
}

p {
  margin-bottom: var(--size-atlas-12);
  max-width: var(--max-char-atlas);
}

a {
  color: var(--text-atlas-action);
  border-radius: var(--size-atlas-15);
  transition: var(--transition-atlas-slow);
  &:hover {
    color: var(--text-atlas-action-hover);
    transition: var(--transition-atlas-fast);
  }
}

span,
i,
b {
  padding: 0 var(--size-atlas-14);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-atlas-sans);
  font-weight: 400;
  line-height: 1;
  margin-bottom: var(--size-atlas-10);
  text-shadow: var(--shadow-atlas-text);
  color: var(--text-atlas-heading);
}

/* Headings */

h1 {
  font-family: var(--font-atlas-cursive);
  font-size: clamp(var(--size-atlas-09), 11.089vw + 1rem, var(--size-atlas-07));
  font-weight: 900;
  &:after {
    content: ' »';
    opacity: var(--opacity-atlas-1);
  }
}

h2 {
  text-transform: uppercase;
  font-size: clamp(var(--size-atlas-10), 6.854vw + 1rem, var(--size-atlas-08));
  font-weight: 900;
  &:before {
    content: '░ ';
    opacity: var(--opacity-atlas-2);
  }
}

/* Subheadings */

h3 {
  font-size: clamp(var(--size-atlas-10), 4.236vw + 1rem, var(--size-atlas-08));
  font-weight: 400;
}

h4 {
  font-size: clamp(var(--size-atlas-09), 2.618vw + 1rem, var(--size-atlas-08));
  text-transform: uppercase;
  font-weight: 900;
}

h5 {
  font-size: clamp(var(--size-atlas-09), 1.618vw + 1rem, var(--size-atlas-08));
  text-transform: uppercase;
}

.emoji {
  font-family: var(--font-atlas-emoji) !important;
}

blockquote {
  border-left: var(--size-atlas-15) solid var(--border-atlas-neutral);
  padding-left: var(--size-atlas-10);
  margin-top: var(--size-atlas-09);
  margin-bottom: var(--size-atlas-12);
  margin-left: var(--size-atlas-15);
}

small,
.text_small {
  font-size: var(--size-atlas-09);
}

img,
picture {
  max-width: 100%;
  display: block;
  transition: var(--transition-atlas-slow);
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

input,
textarea,
select,
button,
progress {
  /* font: inherit; */
  padding: 0 var(--size-atlas-10);
  height: var(--size-atlas-07);
  border-width: 0;
  border-radius: var(--border-radius-atlas-1);
  flex: auto;
  transition: border-radius var(--transition-atlas-fast);
}

textarea {
  padding: var(--size-atlas-10);
  height: var(--size-atlas-05);
  width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  height: unset;
}

input[type='text'],
input[type='model'] {
  width: 100%;
}

hr {
  opacity: var(--opacity-atlas-1);
}

th {
  text-align: left;
}

td {
  min-width: var(--size-atlas-03);
  vertical-align: top;
}

.layout {
  padding: var(--size-atlas-10);
  overflow: scroll;
  > * {
    margin-bottom: var(--size-atlas-09);
  }
  a {
    background: none;
  }
}

.container {
  @include atlas-shadow(var(--shadow-atlas-1));
  padding: var(--size-atlas-09);
  max-width: var(--max-width-atlas);
}

.container--inset {
  @include atlas-shadow(var(--shadow-atlas-inset));
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  align-items: center;
  gap: var(--size-atlas-10);
  padding: var(--size-atlas-10);
}

@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(var(--size-atlas-08), 1fr));
  }
}

.settings__label {
  @include atlas-shadow(var(--shadow-atlas-1));
  position: absolute;

  padding: var(--size-atlas-10);
  transform: translate(
    calc(var(--size-atlas-08) * 1),
    calc(var(--size-atlas-08) * -1)
  );
}

.sticky {
  position: sticky;
  top: var(--size-atlas-12);
  z-index: 9;
}

.highlight {
  @include atlas-shadow(var(--shadow-atlas-inset));
  background: var(--surface-atlas-info);
  color: var(--text-atlas-body);
  padding: 0 var(--size-atlas-10);
  border-radius: var(--border-radius-atlas-1);
  margin-right: var(--size-atlas-12);
  font-weight: 900;
}

.mute {
  opacity: var(--opacity-atlas-2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Read More

details {
  @include atlas-shadow(var(--shadow-atlas-inset));
  border-radius: var(--border-radius-atlas-1);

  summary {
    padding: var(--size-atlas-10);
    background-color: var(--surface-atlas-info);
    color: var(--text-atlas-action);
    border-radius: var(--border-radius-atlas-1);
    list-style: none;
    cursor: pointer;
    &::-webkit-details-marker {
      display: none;
    }
    &:before {
      content: '▶️ ';
      display: inline-block;
      margin-right: var(--size-atlas-10);
      transition: transform var(--transition-atlas-slow);
      text-shadow: none;
    }
  }
  &[open] {
    @include atlas-shadow(var(--shadow-atlas-inset));
    summary {
    }
    summary:before {
      transform: rotate(90deg);
    }
  }
}
