/* LAYOUT */

@media only screen and (min-width: 768px) {
  .atlas {
    display: grid;
    grid-template-columns: 1.6180339887498948482fr minmax(
        var(--size-atlas-00),
        1fr
      );
  }
}

/* 
  LEGEND
*/

#legend {
  height: 100vh;
  max-height: 100vh;
  z-index: 999;
  position: relative;
  .search-input-wrapper {
    position: sticky;
    top: 0;
  }

  .settings {
    @include atlas-shadow(var(--shadow-atlas-1));
    font-family: var(--font-atlas-emoji);
    margin: var(--size-atlas-10);
    background-color: hsl(var(--color-atlas-light) / var(--opacity-atlas-2));
    border: 1px solid hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
    border: none;
    border-right: var(--size-atlas-14) solid
      hsl(var(--color-atlas-secondary) / var(--opacity-atlas-3));

    padding-top: var(--size-atlas-08);
    .settings__label {
      left: 0;
    }
    display: grid;
    button {
      font-family: var(--font-atlas-emoji);
      margin: 0;
      background-color: hsl(var(--color-atlas-light) / var(--opacity-atlas-2));
      border-bottom: 1px solid
        hsl(var(--color-atlas-dark) / var(--opacity-atlas-1));
      &:hover {
        background: hsl(
          var(--color-atlas-primary) / var(--opacity-atlas-3)
        ) !important;
        color: hsl(
          var(--color-atlas-light) / var(--opacity-atlas-3)
        ) !important;
        border-radius: var(--size-atlas-14);
        opacity: 1;
      }
    }
  }

  .legend__resize {
    @include atlas-shadow(var(--shadow-atlas-1));
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: translateX(calc(-100% + var(--size-atlas-12)));
    border: 1px solid hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
    border-right: var(--size-atlas-14) solid
      hsl(var(--color-atlas-secondary) / var(--opacity-atlas-3));
    background-color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));

    &:hover {
      background-color: hsl(
        var(--color-atlas-primary) / var(--opacity-atlas-3)
      );
    }
  }

  .hero {
    position: relative;
    h1 {
      color: var(--surface-atlas-secondary);
    }
    .background {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: var(--size-atlas-06);
      margin: 0 var(--size-atlas-09);
      opacity: var(--opacity-atlas-2);
      filter: grayscale(0.8);
    }
  }
}

#credits {
  img {
    filter: grayscale(var(--opacity-atlas-2));
    &:hover {
      filter: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  #legend {
    .settings {
      position: fixed;
      left: 0;
    }
  }
}

.legend__footer {
  margin: var(--size-atlas-12);
  padding: var(--size-atlas-10);

  @include atlas-shadow(var(--shadow-atlas-1));
  background: hsl(var(--color-atlas-dark) / var(--opacity-atlas-1));
  color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-2));
}

/* MAP INTERFACE */

.active-geographic-identifier {
  color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3)) !important;
  background: hsl(var(--color-atlas-accent) / var(--opacity-atlas-2));
  @include atlas-shadow(var(--shadow-atlas-1));
}

.map-interface {
  @include atlas-shadow(var(--shadow-atlas-1));
  position: absolute;
  top: var(--size-atlas-10);
  right: var(--size-atlas-10);
  z-index: 999;

  padding: var(--size-atlas-08) var(--size-atlas-08);
  max-width: calc(100% - var(--size-atlas-06));
  width: fit-content;

  background-color: var(--surface-atlas-page);
  border: 1px solid hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
  border-right: var(--size-atlas-14) solid
    hsl(var(--color-atlas-secondary) / var(--opacity-atlas-3));

  text-align: end;

  &:hover .location-name,
  &:hover .country-name {
    display: block;
    height: inherit;
    opacity: 1;
  }

  .administrative-region {
    position: relative;
    display: grid;
    justify-items: flex-end;
    overflow: hidden;
  }

  .administrative-region-container {
    width: 100%;
    overflow: hidden;
    border-radius: var(--atlas-border-radius-1);
  }

  .administrative-region-flag-container {
    position: absolute;
    display: grid;
    justify-items: flex-end;
    align-items: flex-end;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    img {
      // justify-self: flex-end;
      max-width: var(--size-atlas-01);
      filter: none !important;
    }
    &::before {
      @include atlas-shadow(var(--shadow-atlas-inset));
      content: '';
      position: absolute;
      background: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
      background: linear-gradient(
        45deg,
        hsl(var(--color-atlas-light) / var(--opacity-atlas-1)) 16.1%,
        hsl(var(--color-atlas-light) / var(--opacity-atlas-3)) 75%
      );
      width: 100%;
      height: 100%;
      border-radius: var(--atlas-border-radius-1);
      top: 0;
    }
  }

  .country-emoji {
    font-family: var(--font-atlas-emoji);
  }

  .location-name,
  .country-name {
    display: none;
    height: 0;
    opacity: 0;
    transition: var(--transition-atlas-slow);
    color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
    padding: var(--size-atlas-10);
    padding-left: var(--size-atlas-08);
    font-weight: 900;
    margin: 0;
    cursor: pointer;
    white-space: pre-line;
    word-wrap: break-word;

    &.active-geographic-identifier {
      display: inherit;
      height: inherit;
      opacity: 1;
    }

    &:hover {
      @include atlas-shadow(var(--shadow-atlas-inset));
      background-color: hsl(
        var(--color-atlas-primary) / var(--opacity-atlas-2)
      );
      color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
    }
  }
  .button-emoji,
  .atlas-reset-button {
    font-family: var(--font-atlas-emoji);
  }

  .location-name-click-history {
    margin-top: var(--size-atlas-08);
    color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-2));

    .location-name-click-history-item {
      margin-bottom: var(--size-atlas-09);
      padding: var(--size-atlas-12) var(--size-atlas-10);
      &:hover {
        @include atlas-shadow(var(--shadow-atlas-inset));
        background-color: hsl(
          var(--color-atlas-primary) / var(--opacity-atlas-3)
        );
        color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
        cursor: pointer;
      }
    }
  }

  .reset-button {
    position: absolute;
    bottom: var(--size-atlas-12);
    right: var(--size-atlas-14);
    width: var(--size-atlas-08);
    &:hover {
      transform: rotate(-90deg) scale(1.61);
      color: hsl(var(--color-atlas-primary) / var(--opacity-atlas-3));
    }
  }
}

.proletarian {
  filter: none;
}

@media only screen and (max-width: 768px) {
  .map-interface {
    position: relative;
    z-index: 0;
    top: var(--size-atlas-14);
    left: 0;
    right: 0;
    padding: 0;
    width: unset;
    max-width: unset;

    & > [data-state='open'] {
      margin-top: var(--size-atlas-10);
    }

    #location-search {
      margin: 0;
    }

    .location-name-click-history {
      border-top: solid 1px
        hsl(var(--color-atlas-dark) / var(--opacity-atlas-1));
      margin: 0;
      max-height: 30vh;
      overflow-y: scroll;
      margin: var(--size-atlas-08) 0;
    }
  }
}

// MOBILE INDICATOR

.map-mobile-indicator {
  @include atlas-shadow(var(--shadow-atlas-inset));
  /* font-size: var(--size-atlas-0); */
  position: sticky;
  bottom: var(--size-atlas-08);
  right: var(--size-atlas-10);

  display: flex;
  align-items: center;
  gap: var(--size-atlas-14);

  background-color: hsl(var(--color-atlas-accent) / var(--opacity-atlas-2));
  color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
  border: 1px solid hsl(var(--color-atlas-accent) / var(--opacity-atlas-3));

  font-weight: 900;

  margin: var(--size-atlas-10);
  max-width: var(--size-atlas-07);

  .map-button {
    @include atlas-shadow(var(--shadow-atlas-1));
    font-size: var(--size-atlas-08);
    background-color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
    padding: var(--size-atlas-10);
    text-shadow: var(--shadow-atlas-text);
    min-width: var(--size-atlas-07);
    overflow: hidden;
    margin-right: var(--size-atlas-10);

    &:hover {
      background-color: hsl(var(--color-atlas-light) / var(--opacity-atlas-2));
    }
  }

  &.map-mobile-indicator-active {
    max-width: fit-content;
    transition: var(--transition-atlas-slow);
    padding-right: var(--size-atlas-09);
  }
}

/* 
  SHARED 
*/

// Buttons and Forms

.atlas-reset-button {
  max-width: var(--size-atlas-06);
  background: var(--surface-atlas-info);
  white-space: pre;
  @include atlas-shadow(var(--shadow-atlas-1));
  &:hover {
    color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
  }
}

.search-input-wrapper {
  padding: var(--size-atlas-12);

  display: flex;
  gap: var(--size-atlas-16);
  overflow: hidden;

  .search-form {
    @include atlas-shadow(var(--shadow-atlas-inset));

    // z-index: 9;

    .search-input {
      background: white;
      @include atlas-shadow(var(--shadow-atlas-inset));
      // width: 100%;
    }
  }
}

// DROPDOWN

.dropdown-menu-content,
.dropdown-menu-subcontent {
  @include atlas-shadow(var(--shadow-atlas-inset));
  min-width: var(--size-atlas-00);
  background-color: hsl(var(--color-atlas-light) / var(--opacity-atlas-2));
  padding: var(--size-atlas-12);
  animation-duration: var(--time-atlas-1);
  animation-timing-function: var(--timing-atlas-function);
  will-change: transform, opacity;
  z-index: 9999;
  position: relative;
  right: var(--size-atlas-10);

  max-height: 90vh;
  overflow-y: scroll;

  border: 1px solid hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
  border-right: var(--size-atlas-14) solid
    hsl(var(--color-atlas-secondary) / var(--opacity-atlas-3));

  &[data-side='top'] {
    animation-name: slideDownAndFade;
  }
  &[data-side='right'] {
    animation-name: slideLeftAndFade;
  }
  &[data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  &[data-side='left'] {
    animation-name: slideRightAndFade;
  }

  .dropdown-menu-item,
  .dropdown-menu-checkbox-item,
  .dropdown-menu-radio-item,
  .dropdown-menu-subtrigger {
    color: hsl(var(--color-atlas-dark));

    display: flex;
    align-items: center; /* reset */
    cursor: pointer;
    position: relative;
    padding: var(--size-atlas-12) 0;
    padding-left: var(--size-atlas-08);
    margin-bottom: var(--size-atlas-14);
    user-select: none;
    outline: none;
  }
}
.dropdown-menu-subcontent {
  overflow-y: scroll;
  max-height: var(--size-atlas-00);
  max-width: var(--size-atlas-00);
}

.dropdown-menu-subtrigger[data-state='open'] {
  background-color: hsl(var(--color-atlas-primary) / var(--opacity-atlas-3));
  color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
}

.dropdown-menu-item[data-disabled],
.dropdown-menu-checkbox-item[data-disabled],
.dropdown-menu-radio-item[data-disabled],
.dropdown-menu-subtrigger[data-disabled] {
  color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-2));
  pointer-events: none;
}

.dropdown-menu-item[data-highlighted],
.dropdown-menu-checkbox-item[data-highlighted],
.dropdown-menu-radio-item[data-highlighted],
.dropdown-menu-subtrigger[data-highlighted] {
  @include atlas-shadow(var(--shadow-atlas-inset));
  background-color: hsl(var(--color-atlas-primary) / var(--opacity-atlas-3));
  color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
}

.dropdown-menu-label {
  padding-left: var(--size-atlas-12);
  font-size: 12px;
  line-height: 25px;
  color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-2));
}

.dropdown-menu-separator {
  height: 1px;
  background-color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-1));
  margin: var(--size-atlas-12);
}

.dropdown-menu-itemIndicator {
  position: absolute;
  left: 0;
  width: var(--size-atlas-08);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--color-atlas-accent) / var(--opacity-atlas-3));
  text-shadow: var(--shadow-atlas-text);
}

.dropdown-menu-arrow {
  fill: hsl(var(--color-atlas-light) / var(--opacity-atlas-2));
}

.button-emoji {
  @include atlas-shadow(var(--shadow-atlas-1));
  z-index: 9999;
  width: var(--size-atlas-07);
  height: var(--size-atlas-07);
  // cursor: pointer;
  font-family: inherit;

  transition: var(--transition-atlas-fast);

  border: 1px solid hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
}
.expand {
  font-family: var(--font-atlas-emoji);
  color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
  background-color: transparent;
  max-width: var(--size-atlas-07);
  justify-self: flex-end;
}

.button-emoji:hover {
  @include atlas-shadow(var(--shadow-atlas-inset));
  background-color: hsl(var(--color-atlas-primary) / var(--opacity-atlas-3));
  color: hsl(var(--color-atlas-light) / var(--opacity-atlas-3));
  transition: var(--transition-atlas-slow);
}
.button-emoji:focus {
  box-shadow: var(--shadow-atlas-text);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// TABS

.tabs__root {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#tabs {
  @include atlas-shadow(var(--shadow-atlas-1));
  padding-top: var(--size-atlas-12);
  z-index: 9999;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  max-height: 100vh;
  max-height: 100dvh;
  .tabs__content {
    @include atlas-shadow(var(--shadow-atlas-1));

    padding: 0;
    height: 100%;
    height: 100vh;
    height: calc(100vh - var(--size-atlas-07));
    .tabs__content {
      border-left: var(--size-atlas-14) solid
        hsl(var(--color-atlas-accent) / var(--opacity-atlas-3));
      padding: var(--size-atlas-16);
      @include atlas-shadow(var(--shadow-atlas-inset));
      flex-grow: 1;
      outline: none;
      border-top: none;
      border-right: none;
      padding-bottom: var(--size-atlas-07);
      .tabs__content {
        overflow: hidden;
        overflow-y: scroll;

        border-left: none;
        border-top: 1px solid
          hsl(var(--color-atlas-accent) / var(--opacity-atlas-2));
      }
      border-radius: 0;
      &:focus {
        @include atlas-shadow(var(--shadow-atlas-1));
      }
      .banner-image {
        margin-bottom: var(--size-atlas-10);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #tabs {
    & > * {
      margin: 0;
    }
  }
}

.tabs__list {
  flex-shrink: 0;
  display: flex;
  gap: var(--size-atlas-12);
  margin: 0 var(--size-atlas-12);
}

.nexus-card .tabs__list {
  flex-shrink: 2;
  top: var(--size-atlas-10);
  padding: 0;
  padding-right: var(--size-atlas-12);
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.nexus-card .tabs__list .tabs__trigger {
  max-width: var(--size-atlas-05);
}

.tabs__trigger {
  @include atlas-shadow(var(--shadow-atlas-inset));
  height: var(--size-atlas-07);
  width: var(--size-atlas-04);
  font-family: var(--font-atlas-emoji);
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
  border-right: var(--size-atlas-14) solid
    hsl(var(--color-atlas-secondary) / var(--opacity-atlas-3));

  border-bottom: none;
  border-bottom-right-radius: 0;
  animation: tab-animation var(--time-atlas-4) var(--timing-atlas-function)
    infinite alternate-reverse;
  &:nth-child(even),
  &:nth-child(odd) {
    animation: tab-animation var(--time-atlas-4) var(--time-atlas-1)
      var(--timing-atlas-function) infinite;
  }
  &:nth-child(odd) {
    animation: tab-animation var(--time-atlas-4) var(--time-atlas-2)
      var(--timing-atlas-function) infinite alternate-reverse;
  }
}
.emoji-label {
  font-size: var(--size-atlas-08);
  font-family: var(--font-atlas-emoji);
}

.custom-icon {
  height: var(--size-atlas-08);
  filter: none;
}

.tabs__trigger:hover {
  background-color: var(--surface-atlas-action) !important;
}
.tabs__trigger[data-status='active'] {
  @include atlas-shadow(var(--shadow-atlas-1));
  animation: none;
  border: 1px solid hsl(var(--color-atlas-light) / var(--opacity-atlas-2));
  border-left: var(--size-atlas-14) solid
    hsl(var(--color-atlas-accent) / var(--opacity-atlas-3));
  border-bottom: none;
  background-color: var(--surface-atlas-info);
}
.tabs__trigger:focus {
  position: relative;
  @include atlas-shadow(var(--shadow-atlas-1));
  background-color: var(--surface-atlas-action);
}

.tabs__trigger[aria-disabled='true'] {
  @include atlas-shadow(none);
  color: hsl(var(--color-atlas-dark) / var(--opacity-atlas-1));
  background-color: hsl(
    var(--color-atlas-dark) / var(--opacity-atlas-2)
  ) !important;
}

@keyframes tab-animation {
  0% {
  }
  100% {
    background-color: hsl(var(--color-atlas-red-200) / var(--opacity-atlas-2));
  }
}

/* NEXUS */

.nexus-card {
  h3 {
    color: hsl(var(--color-atlas-accent) / var(--opacity-atlas-3));
  }
}

.class-structure {
  overflow-x: scroll;
}
