.ask__container {
  background: hsla(var(--color-atlas-light));
  padding: var(--size-atlas-12);
  position: sticky;
  bottom: var(--size-atlas-12);
  border-radius: var(--border-radius-atlas-1);
  .ask__button {
    background: var(--surface-atlas-action);
  }
}
.chat__layout {
  display: grid;
}

.chat__message {
  word-wrap: break-word;
  justify-self: flex-end;
  width: fit-content;
  max-width: 80%;
}

.chat__systemprompt {
  width: 100%;
}
