/* Lemmy */

.prefix {
  opacity: var(--atlas-opacity-2);
}

.communities {
  margin: var(--atlas-size-10) 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--atlas-size-12);
}

.community__button {
  @include atlas-shadow(var(--atlas-shadow-inset));
  height: var(--atlas-size-08);
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));

  &.community__button-active {
    background-color: hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));
  }
  &:hover {
    background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
    color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  }
}

.view-more {
  margin: var(--atlas-size-08) 0;
  background-color: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  transition: var(--atlas-transition-fast);

  &:hover {
    background-color: hsl(var(--atlas-color-primary));
    transition: var(--atlas-transition-slow);
  }
}
summary.view-more {
  margin: var(--atlas-size-12) 0;
  padding: var(--atlas-size-10);
  display: inline-block;

  cursor: pointer;
}

/* Comunity Info Card */

.community__info-card-content {
  .user__pronouns p {
    background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
  }

  a.user__name {
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  }

  -hightlighted {
    background-color: hsl(
      var(--atlas-color-secondary) / var(--atlas-opacity-2)
    );
  }

  .community__name a {
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  }
}

/* Lemmy Settings */

.settings {
  display: grid;
  grid-auto-flow: column;
  gap: var(--atlas-size-12);

  // background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));

  @include atlas-shadow(var(--atlas-shadow-inset));
  overflow: hidden;
  overflow-x: scroll;

  .setting-container {
    display: flex;
    gap: var(--atlas-size-14);
    background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
    // padding: var(--atlas-size-16);

    @include atlas-shadow(var(--atlas-shadow-1));
  }

  .setting {
    height: var(--atlas-size-08);
    width: var(--atlas-size-07);
    @include atlas-shadow(var(--atlas-shadow-inset));

    &:hover {
      color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
      background-color: hsl(
        var(--atlas-color-primary) / var(--atlas-opacity-3)
      );
    }
    &[data-state='active'] {
      color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
      background-color: hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));

      // z-index: 1;
    }
  }
}

.edit-instance {
  margin-bottom: var(--atlas-size-10);
  button {
    height: var(--atlas-size-08);
    background: none;
    @include atlas-shadow(var(--atlas-shadow-1));
  }
  & button:hover {
    animation: freePalestine var(--atlas-time-3) var(--atlas-timing-function)
      infinite;
  }
}

@keyframes freePalestine {
  0% {
    transform: translateY(calc(var(--atlas-size-09) * -1));
  }

  100% {
    transform: translateY(0);
  }
}

/* Post, Comment */

.post-info-container,
.post-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: var(--atlas-size-12); */
}

.post .post-info-container {
  display: grid;
  grid-template-columns: var(--atlas-size-08) var(--atlas-size-06) 1fr;
  gap: var(--atlas-size-09);
  margin: var(--atlas-size-13) 0;
}
.comment__info-container {
  display: flex;
  align-items: center;
  gap: var(--atlas-size-09);
  margin: var(--atlas-size-13) 0;
  button {
    height: unset;
    padding: 0;
  }
}

.post-image-container {
  padding: 0;
  margin-top: var(--atlas-size-10);
  overflow: hidden;
  height: unset;
}

.post-info-container button {
  padding: 0;
}

.post .post-body {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  padding: var(--atlas-size-10);
}

.user__pronouns p,
.community__stats p {
  @include atlas-shadow(var(--atlas-shadow-inset));
  margin: 0;
  font-size: var(--atlas-size-09);
  font-weight: 900;
  padding: var(--atlas-size-12) var(--atlas-size-10);

  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
}

.community__stats p {
  font-weight: initial;
}

.comment button,
.post button {
  background-color: transparent;
}

.comment__votes {
  margin: 0 var(--atlas-size-12);
}

.comment__votes > * {
  margin: 0 var(--atlas-size-16);
}

.post-mod {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
}
p.post-vote,
sub.post-vote,
sup.post-vote {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
}

p.post-vote {
  text-align: center;
  font-size: var(--atlas-size-09);
}

.commment-vote-score {
  color: hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));
  font-weight: 900;
}

.post-score-positive {
  color: hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));
}
.post-score-negative {
  color: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
}

.post-highlight > div > .comment__body {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background: hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));

  padding: var(--atlas-size-10);
  margin: var(--atlas-size-10);
  position: relative;
}
.post-highlight > div > .comment__body,
.post-highlight > div > .comment__body p,
.post-highlight > div > .comment__body li,
.post-highlight > div > .comment__body a {
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
}

.post-highlight blockquote {
  border-color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
}

.comment__timestamp,
.comment__count {
  opacity: var(--atlas-opacity-2);
  margin: 0 var(--atlas-size-12);
}

.post-to {
  margin: 0;
}

.post__meta {
  display: grid;
  gap: var(--atlas-size-12);
}

.comment__alert {
  color: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
  font-size: var(--atlas-size-10);
  font-weight: 900;
}

.post-body {
  opacity: var(--atlas-opacity-3);
  margin-top: var(--atlas-size-12);
  margin-bottom: var(--atlas-size-10);
  word-wrap: break-word;
}

.post-body p {
  margin-bottom: var(--atlas-size-10);
}

.comment__body {
  margin: var(--atlas-size-12);
}

.post-body img,
.comment__body img {
  display: inline;
}
.comment__reply-button {
  padding: var(--atlas-size-09) var(--atlas-size-08);
  font-style: italic;
}
.comment__reply-button span {
  font-size: var(--atlas-size-09);
  /* font-weight: 900; */
}
.comment__reply-button:hover {
  color: hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));
}

.comment__reply-button__emoji {
  font-family: var(--atlas-font-emoji);
  color: var(--atlas-color-post-blue);
  text-shadow:
    calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
      var(--atlas-color-post-green),
    calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
      var(--atlas-color-post-yellow),
    calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
      var(--atlas-color-post-red);
  margin-right: var(--atlas-size-12);
}

.comment__reply-button:hover .comment__reply-button__emoji {
  animation: replyAnimation var(--atlas-timing-fast);
}

@keyframes replyAnimation {
  0% {
    color: var(--atlas-color-post-blue);
    text-shadow:
      calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-green),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-yellow),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-red);
  }
  14.2857% {
    color: var(--atlas-color-post-teal);
    text-shadow:
      calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-blue),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-green),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-yellow);
  }
  28.5714% {
    color: var(--atlas-color-post-purple);
    text-shadow:
      calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-teal),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-blue),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-green);
  }
  42.8572% {
    color: var(--atlas-color-post-pink);
    text-shadow:
      calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-purple),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-teal),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-blue);
  }
  57.1429% {
    color: var(--atlas-color-post-red);
    text-shadow:
      calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-pink),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-purple),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-teal);
  }
  71.4286% {
    color: var(--atlas-color-post-yellow);
    text-shadow:
      calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-red),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-pink),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-purple);
  }
  85.7143% {
    color: var(--atlas-color-post-yellow);
    text-shadow:
      calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-red),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-pink),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-purple);
  }
  090.0% {
    color: var(--atlas-color-post-green);
    text-shadow:
      calc(var(--atlas-size-13) * -1) calc(var(--atlas-size-13) * -1) 0px
        var(--atlas-color-post-yellow),
      calc(var(--atlas-size-10) * -1) calc(var(--atlas-size-10) * -1) 0px
        var(--atlas-color-post-red),
      calc(var(--atlas-size-09) * -1) calc(var(--atlas-size-09) * -1) 0px
        var(--atlas-color-post-pink);
  }
}

.comment__replies {
  margin-top: var(--atlas-size-15);
  margin-bottom: 0;
  padding: 0 var(--atlas-size-15);

  border-top: none;
  border-bottom: none;
}

.comment__replies--depth-1 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-red);
}

.comment__replies--depth-2 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-yellow);
}

.comment__replies--depth-3 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-green);
}

.comment__replies--depth-4 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-blue);
}

.comment__replies--depth-5 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-teal);
}

.comment__replies--depth-6 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-purple);
}

.comment__replies--depth-7 {
  border-left: var(--atlas-size-15) solid var(--atlas-color-post-pink);
}

/* Lemmy user */

.user,
.community__wrapper {
  display: flex;
  align-items: center;
  gap: 0 var(--atlas-size-12);
  margin-right: var(--atlas-size-12);
}

/* User Info Card */

.user__card-tabs {
  background-color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
  padding: var(--atlas-size-10);

  @include atlas-shadow(var(--atlas-shadow-1));
}

.user__avatar,
.community__avatar-container,
.post__thumbnail {
  @include atlas-shadow(var(--atlas-shadow-inset));
  overflow: hidden;
  user-select: none;

  width: var(--atlas-size-08);
  height: var(--atlas-size-08);

  cursor: pointer;
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
  text-align: center;
  font-weight: 900;
}

.post__thumbnail {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background-color: hsl(
    var(--atlas-color-light) / var(--atlas-opacity-1)
  ) !important;
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
  width: var(--atlas-size-06);
  height: var(--atlas-size-06);
}

.post__thumbnail img {
  @include atlas-shadow(var(--atlas-shadow-inset));
  height: 100%;
  width: 100%;
  line-height: var(--atlas-size-06);
  object-fit: cover;
  font-size: var(--atlas-size-08);
  position: relative;
  transition: var(--atlas-transition-slow);
}

.community__avatar-container {
  background-color: hsl(
    var(--atlas-color-light) / var(--atlas-opacity-2)
  ) !important;
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
}

.user__avatar-infocard {
  width: var(--atlas-size-04);
  height: var(--atlas-size-04);
  @include atlas-shadow(var(--atlas-shadow-1));
}

.user__avatar:focus,
.community__avatar-container:focus {
  @include atlas-shadow(var(--atlas-shadow-1));
}

.user__avatar--image,
.community__avatar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.user__avatar-banner-offset {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(
    calc(var(--atlas-size-09) * -1),
    calc(var(--atlas-size-09) * -1)
  );
}

.banner-image {
}

a.user__name {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  font-weight: bold;
  font-size: clamp(var(--atlas-size-10), 1.618vw + 1rem, var(--atlas-size-09));
}

.user__bio {
  max-height: var(--atlas-size-00);
  overflow-y: scroll;
}

.user__bio img,
.post-body img {
  max-height: var(--atlas-size-00);
  object-fit: contain;
  transition: all var(--atlas-transition-slow);
}

.post-body img:hover {
  max-height: unset;
}

.user__info-card-content,
.community__info-card-content {
  @include atlas-shadow(var(--atlas-shadow-1));
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  padding: var(--atlas-size-10);
  max-width: calc(var(--atlas-size-00) * 2);
  /* width: 100%; */
  /* min-width: var(--atlas-size-00); */

  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  border: 1px solid hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  border-left: var(--atlas-size-14) solid
    hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));

  animation-duration: var(--atlas-time-1);
  animation-timing-function: var(--atlas-timing-function);
  will-change: transform, opacity;
  z-index: 9999;
}

@media only screen and (max-width: 768px) {
  .user__info-card-content,
  .community__info-card-content {
    width: calc(100vw - var(--atlas-size-07)) !important;
  }
}

.user__mod,
.community__mod {
  font-style: italic;
}

.mod-list {
  background: hsl(var(--atlas-color-accent) / var(--atlas-opacity-2));
  padding: var(--atlas-size-10);
  display: grid;
  gap: var(--atlas-size-10);
  @include atlas-shadow(var(--atlas-shadow-1));

  max-height: var(--atlas-size-00);
  overflow-y: scroll;
}

.user__info-card-content .mod-list a {
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
}

.mod-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--atlas-size-12);
}

.user__pronouns,
.community__stats {
  display: flex;
  gap: var(--atlas-size-14);
}

.user__info-card-content .user__pronouns p,
.community__info-card-content .community__stats p {
  @include atlas-shadow(var(--atlas-shadow-inset));
  padding: var(--atlas-size-12) var(--atlas-size-10);
  margin-bottom: var(--atlas-size-12);

  background-color: hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
}

.user__info-card-content .user__posts .user__pronouns p {
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
}

.user__info-card-content h5,
.community__info-card-content h5 {
  text-transform: initial;
}

.user__info-card-content-hightlighted {
  background-color: hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));
}

.user__info-card-content-hightlighted .user__pronouns p {
  background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
}

.user__info-card-content[data-side='top'],
.community__info-card-content[data-side='top'] {
  animation-name: slideDownAndFade;
}
.user__info-card-content[data-side='right'],
.community__info-card-content[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.user__info-card-content[data-side='bottom'],
.community__info-card-content[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.user__info-card-content[data-side='left'],
.community__info-card-content[data-side='left'] {
  animation-name: slideRightAndFade;
}

.user__info-card-content .user__avatar,
.community__info-card-content .community__avatar-container {
  margin: 0;
}

.user__info-card-arrow {
  fill: white;
}

.user__posts {
  background-color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  padding: var(--atlas-size-10);

  max-height: calc(var(--atlas-size-00) * 2);
  overflow-y: scroll;
  @include atlas-shadow(var(--atlas-shadow-1));
}

/* Collapse */

.comment__collapsible-trigger {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
  margin: var(--atlas-size-10);
  &:hover,
  &:focus {
    cursor: pointer;
    color: hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));
  }
}

.post-body {
  animation: slideDown var(--atlas-time-2) var(--atlas-timing-function);
}

.post[data-state='open'] {
  padding-left: var(--atlas-size-10);
  border-left: var(--atlas-size-14) solid
    hsl(var(--atlas-color-accent) / var(--atlas-opacity-3));
}

[data-state='open'] > [data-state='open'] {
  animation: slideDown var(--atlas-time-2) var(--atlas-timing-function);
}

[data-state='closed'] > [data-state='closed'] {
  animation: slideUp var(--atlas-time-2) var(--atlas-timing-function);
}

[data-state='open'] .post__thumbnail img {
  transform: scale(1.312);
}

[data-state='closed'] .post__thumbnail img {
  transform: unset;
}

[data-state='closed'] .post__thumbnail img:hover {
  transform: scale(1.312);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0;
  }

  50% {
    height: var(--radix-collapsible-content-height);
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
  }

  50% {
    height: var(--radix-collapsible-content-height);
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
