.feed-item {
  @include atlas-shadow(var(--shadow-atlas-inset));
  background: hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
  margin-top: var(--size-atlas-10);

  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--size-atlas-12);

  & > * {
    margin: var(--size-atlas-14) var(--size-atlas-09);
    margin-bottom: var(--size-atlas-10);
    grid-column: 1 / -1;
  }
}
.post-card {
  @include atlas-shadow(var(--shadow-atlas-1));
  background: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3)) !important;

  overflow: hidden;
  display: grid;

  &:hover {
    @include atlas-shadow(none);
    background: hsl(
      var(--color-atlas-light) / var(--opacity-atlas-1)
    ) !important;
    opacity: 1;
    transition: var(--transition-atlas-fast);
  }

  > * {
    padding: var(--size-atlas-10);
  }
  .post-card-video {
    padding: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    padding: 0;
    filter: unset;
  }
  &.post-media-gallery {
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    overflow-y: scroll;
    .post-card-image {
      max-height: calc(var(--size-atlas-00) * 2);
      scroll-snap-align: start;
      // flex: 1;
      object-fit: cover;
      width: 100%;
      // max-height: unset !important;
    }
  }
  .post-card-video {
    max-height: unset !important;
  }
  .post-card-image {
    max-height: none;
    scroll-snap-align: start;
    // flex: 1;
    object-fit: cover;
    width: 100%;
    // max-height: unset !important;
  }
  .post-card-link {
    background: hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
  }
}
.post-stats {
  @include atlas-shadow(var(--shadow-atlas-inset));
  background: hsl(var(--color-atlas-dark) / var(--opacity-atlas-1)) !important;

  display: flex;
  justify-content: space-between;
  padding: var(--size-atlas-12) var(--size-atlas-10);
  p {
    margin: 0;
  }
}
.feed-post-container {
  display: flex;
  gap: var(--size-atlas-10);
  button.post__thumbnail {
    padding: 0;
  }
  .feed-post-stat {
    color: hsl(var(--color-atlas-light) / var(--opacity-atlas-2));
  }
}

.feed-post-wrapper {
  @include atlas-shadow(var(--shadow-atlas-inset));
  margin: var(--size-atlas-10) 0;
  background: hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
  padding: var(--size-atlas-10);
}

.feed-link {
  grid-row: 1;
  grid-column: 1 / -2;
}

p.feed-publish-date {
  @include atlas-shadow(var(--shadow-atlas-1));
  background: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
  padding: var(--size-atlas-12) var(--size-atlas-10);
  justify-self: flex-end;
  grid-column: 2 / -1;
  height: 100%;
  max-height: var(--size-atlas-08);
}

.feed-item .comment__reply-button {
  padding: 0;
}

.feed-community {
  @include atlas-shadow(var(--shadow-atlas-inset));
  background: hsl(var(--color-atlas-dark) / var(--opacity-atlas-3));
  margin: var(--size-atlas-14);
  padding: var(--size-atlas-10);
}

.feed-item .comment__reply-button {
  padding: 0 var(--size-atlas-10);
  padding-top: var(--size-atlas-10);
}
