.prolewiki {
  pointer-events: none;
  img {
    filter: none;
  }
}

.mw-editsection {
  display: none;
}

.mbox,
.metadata {
  background: hsl(var(--color-atlas-light) / var(--opacity-atlas-1)) !important;
  border-left: none !important;
  border: 1px solid hsl(var(--color-atlas-accent) / var(--opacity-atlas-2)) !important;
  margin-bottom: var(--size-atlas-10) !important;
}

.infobox {
  @include atlas-shadow(var(--shadow-atlas-inset));
  width: 100% !important;
  background: hsl(var(--color-atlas-light) / var(--opacity-atlas-1));
  padding: var(--size-atlas-10) !important;
  border: 1px solid hsl(var(--color-atlas-accent) / var(--opacity-atlas-2));
  border-radius: var(--border-radius-atlas-1) !important;
  margin-bottom: var(--size-atlas-10);
  border-collapse: inherit !important;
  border-spacing: 0 !important;
}

.infobox-subheader {
  background: none !important;
}

.infobox th,
.infobox td {
  border-color: hsl(
    var(--color-atlas-light) / var(--opacity-atlas-1)
  ) !important;
  /* border: none !important; */
}
