.prolewiki {
  pointer-events: none;
  img {
    filter: none;
  }
}

.mw-editsection {
  display: none;
}

.mbox,
.metadata {
  background: hsl(var(--atlas-color-light) / var(--atlas-opacity-1)) !important;
  border-left: none !important;
  border: 1px solid hsl(var(--atlas-color-accent) / var(--atlas-opacity-2)) !important;
  margin-bottom: var(--atlas-size-10) !important;
}

.infobox {
  @include atlas-shadow(var(--atlas-shadow-inset));
  width: 100% !important;
  background: hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  padding: var(--atlas-size-10) !important;
  border: 1px solid hsl(var(--atlas-color-accent) / var(--atlas-opacity-2));
  border-radius: var(--atlas-border-radius-1) !important;
  margin-bottom: var(--atlas-size-10);
  border-collapse: inherit !important;
  border-spacing: 0 !important;
}

.infobox-subheader {
  background: none !important;
}

.infobox th,
.infobox td {
  border-color: hsl(
    var(--atlas-color-light) / var(--atlas-opacity-1)
  ) !important;
  /* border: none !important; */
}
