/* LAYOUT */

@media only screen and (min-width: 768px) {
  .atlas {
    display: grid;
    grid-template-columns: 1.6180339887498948482fr minmax(var(--atlas-size-00), 1fr);
  }
}

/* 
  LEGEND
*/

.legend-content-container,
#legend-content {
  .search-input-wrapper {
    @include atlas-shadow(var(--atlas-shadow-1));
    position: sticky;
    top: 0;
    z-index: 9999;
    background: white;
  }
}

.legend-footer {
  position: sticky;
  bottom: 0;
  z-index: 9999;
  padding: var(--atlas-size-10);
  border-radius: var(--atlas-border-radius-1);
  @include atlas-shadow(var(--atlas-shadow-1));
  background: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
}

/* MAP INTERFACE */

.active-location-type {
  color: hsl(var(--atlas-color-tertiary)) !important;
}

/* Location Search */

#location-search {
  position: relative;
  display: grid;
  margin-top: var(--atlas-size-09);
  width: 100%;
  z-index: 999;
}

#location-search .search-results {
  border-radius: var(--atlas-border-radius-1) !important;
  margin-top: var(--atlas-size-10);
  .search-licence {
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
  }
  .search-loading-icon {
    animation: searchAnimation var(--atlas-timing-fast) alternate-reverse;
  }
}

@keyframes searchAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--atlas-size-12));
  }
}

#location-search .search-results button {
  background: none;
  border-width: 0;
  padding: var(--atlas-size-11) var(--atlas-size-10);
  width: 100%;
  text-align: left;
  &:hover {
    background: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3)) !important;
    color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
    border-radius: var(--atlas-border-radius-1) !important;
  }
}

// Buttons and Forms, Map

.legend-resize-button {
  position: relative;
  left: var(--atlas-size-08);
  bottom: var(--atlas-size-10);
  font-size: var(--atlas-size-08) !important;
}

.random-button {
  position: absolute;
  left: var(--atlas-size-09);
  bottom: var(--atlas-size-12);
}

.reset-button,
.reply-button,
.legend-resize-button,
.random-button {
  background-color: transparent;
  height: unset;
  // color: unset;
  font: unset;
  padding: unset;
  cursor: pointer;
  margin: var(--atlas-size-10);
  transition: var(--atlas-transition-slow);
}

.legend-resize-button:hover,
.random-button:hover {
  text-shadow: var(--atlas-shadow-text);
  color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
  transition: var(--atlas-transition-fast);
  transform: scale(1.61);
  transform-origin: center;
}

.reset-container {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  align-items: center;
}

.reset-button:hover,
.reset-container:hover .reset-button {
  text-shadow: var(--atlas-shadow-text);
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  transition: var(--atlas-transition-fast);
  transform: rotate(-90deg);
}

.map-interface-container {
  @include atlas-shadow(var(--atlas-shadow-1));
  z-index: 9999;
  position: absolute;
  max-width: calc(100% - var(--atlas-size-06));

  padding: var(--atlas-size-08) var(--atlas-size-08);
  width: fit-content;
  top: var(--atlas-size-10);
  right: var(--atlas-size-10);
  z-index: 999;
  text-align: end;

  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  border: 1px solid hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  border-right: var(--atlas-size-14) solid
    hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
  border-radius: var(--atlas-border-radius-1);

  .administrative-region-flag-container {
    display: grid;
    align-content: flex-end;
    width: 100%;
  }

  img.administrative-region-flag {
    justify-self: flex-end;
    max-width: var(--atlas-size-03);
    filter: none !important;
  }

  .location-name,
  .country-name {
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
    padding: var(--atlas-size-10);
    padding-left: var(--atlas-size-08);
    font-weight: 900;
    margin: 0;
    cursor: pointer;
    white-space: pre-line;
    word-wrap: break-word;

    &:hover {
      @include atlas-shadow(var(--atlas-shadow-inset));
      background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
      color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
      border-radius: var(--atlas-border-radius-1);
    }
  }
  .button-icon,
  .atlas-reset-button {
    height: var(--atlas-size-0);
  }

  .location-name-click-history {
    margin-top: var(--atlas-size-08);
    color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));

    .location-name-click-history-item {
      margin-bottom: var(--atlas-size-09);
      padding: var(--atlas-size-12) var(--atlas-size-10);
      &:hover {
        @include atlas-shadow(var(--atlas-shadow-inset));
        background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
        color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
        cursor: pointer;
        border-radius: var(--atlas-border-radius-1);
      }
    }
  }

  .reset-button {
    position: absolute;
    bottom: var(--atlas-size-12);
    right: var(--atlas-size-14);
    width: var(--atlas-size-08);
    &:hover {
      transform: rotate(-90deg) scale(1.61);
      color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
    }
  }
}

@media only screen and (max-width: 768px) {
  .map-interface-container {
    @include atlas-shadow(none);
    position: fixed;
    top: var(--atlas-size-14);
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 var(--atlas-size-10);
    width: unset;
    max-width: unset;

    & > [data-state="open"] {
      margin-top: var(--atlas-size-10);
    }

    #location-search {
      margin: 0;
    }

    .location-name-click-history {
      border-top: solid 1px hsl(var(--atlas-color-dark) / var(--atlas-opacity-1));
      margin: 0;
      max-height: 30vh;
      overflow-y: scroll;
      margin: var(--atlas-size-08) 0;
    }
  }
}

// MOBILE INDICATOR

.map-mobile-indicator {
  @include atlas-shadow(var(--atlas-shadow-inset));
  /* font-size: var(--atlas-size-0); */
  position: sticky;
  bottom: var(--atlas-size-08);
  right: var(--atlas-size-10);

  display: flex;
  align-items: center;
  gap: var(--atlas-size-14);

  background-color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-2));
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  border: 1px solid hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));

  border-radius: var(--atlas-border-radius-1);
  font-weight: 900;

  margin: var(--atlas-size-10);
  max-width: var(--atlas-size-07);

  .map-button {
    @include atlas-shadow(var(--atlas-shadow-1));
    font-size: var(--atlas-size-08);
    background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
    padding: var(--atlas-size-10);
    text-shadow: var(--atlas-shadow-text);
    min-width: var(--atlas-size-07);
    overflow: hidden;
    margin-right: var(--atlas-size-10);

    &:hover {
      background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
    }
  }

  &.map-mobile-indicator-active {
    max-width: fit-content;
    transition: var(--atlas-transition-slow);
    padding-right: var(--atlas-size-09);
  }
}

/* 
  SHARED 
*/

// Buttons and Forms

.atlas-reset-button {
  background: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  white-space: pre;
  @include atlas-shadow(var(--atlas-shadow-1));
  &:hover {
    background: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
    color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  }
}

.search-input-wrapper {
  padding: var(--atlas-size-16);
  border-radius: var(--atlas-border-radius-1);
  display: flex;
  gap: var(--atlas-size-16);
  overflow: hidden;

  .search-form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--atlas-size-14);
    align-items: center;
    width: 100%;
    @include atlas-shadow(var(--atlas-shadow-inset));
    border-radius: var(--atlas-border-radius-1);
    // z-index: 9;

    .search-input {
      background: transparent;
      width: 100%;
    }
  }
}

// DROPDOWN

.dropdown-menu-content,
.dropdown-menu-subcontent {
  @include atlas-shadow(var(--atlas-shadow-inset));
  min-width: var(--atlas-size-00);
  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
  padding: var(--atlas-size-12);
  animation-duration: var(--atlas-time-1);
  animation-timing-function: var(--atlas-timing-function);
  will-change: transform, opacity;
  z-index: 9999;
  position: relative;
  right: var(--atlas-size-10);

  max-height: 90vh;
  overflow-y: scroll;

  border: 1px solid hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  border-right: var(--atlas-size-14) solid
    hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
  border-radius: var(--atlas-border-radius-1);
  &[data-side="top"] {
    animation-name: slideDownAndFade;
  }
  &[data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  &[data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  &[data-side="left"] {
    animation-name: slideRightAndFade;
  }

  .dropdown-menu-item,
  .dropdown-menu-checkbox-item,
  .dropdown-menu-radio-item,
  .dropdown-menu-subtrigger {
    color: hsl(var(--atlas-color-dark));
    border-radius: var(--atlas-border-radius-1);
    display: flex;
    align-items: center; /* reset */
    cursor: pointer;
    position: relative;
    padding: var(--atlas-size-12) 0;
    padding-left: var(--atlas-size-08);
    margin-bottom: var(--atlas-size-14);
    user-select: none;
    outline: none;
  }
}
.dropdown-menu-subcontent {
  overflow-y: scroll;
  max-height: var(--atlas-size-00);
  max-width: var(--atlas-size-00);
}

.dropdown-menu-subtrigger[data-state="open"],
.dropdown-menu-subtrigger[data-state="open"] .right-slot {
  background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
}

.dropdown-menu-item[data-disabled],
.dropdown-menu-checkbox-item[data-disabled],
.dropdown-menu-radio-item[data-disabled],
.dropdown-menu-subtrigger[data-disabled] {
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
  pointer-events: none;
}

.dropdown-menu-item[data-highlighted],
.dropdown-menu-checkbox-item[data-highlighted],
.dropdown-menu-radio-item[data-highlighted],
.dropdown-menu-subtrigger[data-highlighted] {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
}

.dropdown-menu-label {
  padding-left: var(--atlas-size-12);
  font-size: 12px;
  line-height: 25px;
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-2));
}

.dropdown-menu-separator {
  height: 1px;
  background-color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-1));
  margin: var(--atlas-size-12);
}

.dropdown-menu-itemIndicator {
  position: absolute;
  left: 0;
  width: var(--atlas-size-08);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  text-shadow: var(--atlas-shadow-text);
}

.dropdown-menu-arrow {
  fill: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
}

.button-icon {
  @include atlas-shadow(var(--atlas-shadow-1));
  z-index: 9999;
  width: var(--atlas-size-07);
  height: var(--atlas-size-07);
  // cursor: pointer;
  font-family: inherit;

  transition: var(--atlas-transition-fast);

  border: 1px solid hsl(var(--atlas-color-light) / var(--atlas-opacity-1));
  border-radius: var(--atlas-border-radius-1);
}
.atlas-expand-button {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  background-color: hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
}

.button-icon:hover {
  @include atlas-shadow(var(--atlas-shadow-inset));
  background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  transition: var(--atlas-transition-slow);
}
.button-icon:focus {
  box-shadow: var(--atlas-shadow-text);
}

.right-slot {
  justify-self: end;
  margin-left: auto;
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
}
[data-highlighted] > .right-slot {
  color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
}
[data-disabled] .right-slot {
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-1));
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// TABS

.tabs-root {
  display: flex;
  flex-direction: column;
  position: relative;
}

#atlas-tabs {
  @include atlas-shadow(var(--atlas-shadow-1));
  background-color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  border-radius: var(--atlas-border-radius-1);
  height: 100%;
  height: 100dvh;
  padding-top: var(--atlas-size-14);
  z-index: 9999;
  overflow: hidden;
  & > * {
    margin: 0 var(--atlas-size-12);
    margin-right: var(--atlas-size-10);
  }
  .tabs-content {
    @include atlas-shadow(var(--atlas-shadow-1));
    background: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
    border-radius: var(--atlas-border-radius-1);
    padding: 0;
    .tabs-content {
      padding: var(--atlas-size-16);
      background: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
      @include atlas-shadow(var(--atlas-shadow-inset));
      flex-grow: 1;
      overflow: hidden;
      height: calc(100dvh - var(--atlas-size-04));
      overflow-y: scroll;
      outline: none;
      &:focus {
        @include atlas-shadow(var(--atlas-shadow-1));
      }
      .banner-image {
        margin-bottom: var(--atlas-size-10);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #atlas-tabs {
    height: -webkit-fill-available;
    height: unset;
    &::before {
      content: "_";
      color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
      width: 100%;
      max-width: 100vw;
      margin: 0 auto;
      position: absolute;
      top: 0;
      transform: translateY(calc(var(--atlas-size-05) * -1));
      font-size: var(--atlas-size-06);
      display: grid;
      justify-content: center;
    }
  }
}

.tabs-list {
  flex-shrink: 0;
  display: flex;
  padding: var(--atlas-size-12) 0;

  gap: var(--atlas-size-12);
}

.nexus-card .tabs-list {
  flex-shrink: 2;
  top: var(--atlas-size-10);
  padding: 0;
  padding-right: var(--atlas-size-12);
  margin-bottom: var(--atlas-size-12);
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.nexus-card .tabs-list .tabs-trigger {
  max-width: var(--atlas-size-05);
}

.tabs-trigger {
  @include atlas-shadow(var(--atlas-shadow-inset));

  font-family: inherit;
  background-color: hsl(var(--atlas-color-dark));
  height: var(--atlas-size-07);
  width: var(--atlas-size-04);
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  text-transform: uppercase;
  font-weight: 900;
  user-select: none;

  background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-2));

  border: 1px solid hsl(var(--atlas-color-light) / var(--atlas-opacity-1));

  border-right: var(--atlas-size-14) solid
    hsl(var(--atlas-color-secondary) / var(--atlas-opacity-3));
  border-radius: var(--atlas-border-radius-1);
}

.tabs-trigger:hover {
  color: hsl(var(--atlas-color-light));
  background-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
}
.tabs-trigger[data-state="active"] {
  color: hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  background-color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  @include atlas-shadow(var(--atlas-shadow-1));

  border: 1px solid hsl(var(--atlas-color-light) / var(--atlas-opacity-2));
  border-left: var(--atlas-size-14) solid
    hsl(var(--atlas-color-tertiary) / var(--atlas-opacity-3));
  & > .tabs-trigger button {
    background-color: hsl(var(--atlas-color-light) / var(--atlas-opacity-3));
  }
}
.tabs-trigger:focus {
  position: relative;
  @include atlas-shadow(var(--atlas-shadow-1));
  border-color: hsl(var(--atlas-color-primary) / var(--atlas-opacity-3));
}
