/* 
    VARIABLES 
*/

:root {
  /* colors */
  /* https://colordesigner.io/#FFCC0D-FF7326-FF194D-BF2669-702A8C */
  --atlas-color-primary: 282.86 53.85% 35.69%;
  --atlas-color-secondary: 333.73 66.81% 44.9%;
  --atlas-color-tertiary: 47.36 100% 52.55%;
  --atlas-color-accent: 346.43 100% 54.9%;

  --atlas-color-dark: 282.86 0% 13%;
  --atlas-color-grey: 282.86 0% 27%;
  --atlas-color-lightgrey: 282.86 0% 80%;
  --atlas-color-light: 282.86 100% 98.5%;

  --atlas-color-info: 226.43 100% 54.9%;
  --atlas-color-success: 166.43 100% 54.9%;
  --atlas-color-warning: 46.43 100% 54.9%;
  --atlas-color-error: 346.43 100% 54.9%;

  /* font-families */
  --atlas-font-sans: Arial, Helvetica, sans-serif;
  --atlas-font-serif: serif;
  --atlas-font-cursive: cursive;
  --atlas-font-mono: mono;

  --atlas-line-height: 1.55;

  /* sizes */
  --phi: 1.6180339887498948482rem; /* Golden Ratio */

  --atlas-size-00: calc(var(--phi) * 9);
  --atlas-size-01: calc(var(--phi) * 8);
  --atlas-size-02: calc(var(--phi) * 7);
  --atlas-size-03: calc(var(--phi) * 6);
  --atlas-size-04: calc(var(--phi) * 5);
  --atlas-size-05: calc(var(--phi) * 4);
  --atlas-size-06: calc(var(--phi) * 3);
  --atlas-size-07: calc(var(--phi) * 2);
  --atlas-size-08: var(--phi);
  --atlas-size-09: calc(var(--phi) / 2);
  --atlas-size-10: calc(var(--phi) / 3);
  --atlas-size-11: calc(var(--phi) / 4);
  --atlas-size-12: calc(var(--phi) / 5);
  --atlas-size-13: calc(var(--phi) / 6);
  --atlas-size-14: calc(var(--phi) / 7);
  --atlas-size-15: calc(var(--phi) / 8);
  --atlas-size-16: calc(var(--phi) / 9);

  --atlas-min-width: 12.5rem; /* Mobile: 250px / 16px */
  --atlas-max-width: 85.375rem; /* Desktop: 1920px / 16px */
  --atlas-max-char: 80ch;

  /* border radius */

  --atlas-border-radius-1: var(--atlas-size-09) var(--atlas-size-10) 0
    var(--atlas-size-08);
  --atlas-border-radius-2: 0 var(--atlas-size-08) var(--atlas-size-09)
    var(--atlas-size-10);

  /* opacities */

  --atlas-opacity-1: 0.15;
  --atlas-opacity-2: 0.5;
  --atlas-opacity-3: 0.95;

  /* timing */

  --atlas-timing-function: cubic-bezier(0.1, 0.1, 0.4, 1);

  --atlas-transition-fast: 50ms var(--atlas-timing-function);
  --atlas-transition-slow: 150ms var(--atlas-timing-function);
  --atlas-timing-fast: 300ms var(--atlas-timing-function) infinite alternate-reverse;
  --atlas-timing-slow: 3s var(--atlas-timing-function) infinite alternate-reverse;
  --atlas-timing-gradient: 18s var(--atlas-timing-function) infinite alternate-reverse;

  /* shadows */

  // https://shadows.brumm.af/
  --atlas-shadow-1: 0 var(--atlas-size-16) var(--atlas-size-16)
      hsl(var(--atlas-color-dark) / 0.08),
    0 var(--atlas-size-15) var(--atlas-size-15) hsl(var(--atlas-color-dark) / 0.061),
    0 var(--atlas-size-14) var(--atlas-size-14) hsl(var(--atlas-color-dark) / 0.052),
    0 var(--atlas-size-13) var(--atlas-size-13) hsl(var(--atlas-color-dark) / 0.046),
    0 var(--atlas-size-12) var(--atlas-size-12) hsl(var(--atlas-color-dark) / 0.04),
    0 var(--atlas-size-11) var(--atlas-size-11) hsl(var(--atlas-color-dark) / 0.034),
    0 var(--atlas-size-10) var(--atlas-size-10) hsl(var(--atlas-color-dark) / 0.028),
    0 var(--atlas-size-09) var(--atlas-size-09) hsl(var(--atlas-color-dark) / 0.019);
  --atlas-shadow-text: 0 var(--atlas-size-16) var(--atlas-size-16)
      hsl(var(--atlas-color-dark) / 0.08),
    0 var(--atlas-size-15) var(--atlas-size-15) hsl(var(--atlas-color-dark) / 0.061),
    0 var(--atlas-size-14) var(--atlas-size-14) hsl(var(--atlas-color-dark) / 0.052),
    0 var(--atlas-size-13) var(--atlas-size-13) hsl(var(--atlas-color-dark) / 0.046),
    0 var(--atlas-size-12) var(--atlas-size-12) hsl(var(--atlas-color-dark) / 0.04),
    0 var(--atlas-size-11) var(--atlas-size-11) hsl(var(--atlas-color-dark) / 0.034),
    0 var(--atlas-size-10) var(--atlas-size-10) hsl(var(--atlas-color-dark) / 0.028),
    0 var(--atlas-size-09) var(--atlas-size-09) hsl(var(--atlas-color-dark) / 0.019);
}

/* 
    MIXINS
*/

@mixin atlas-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

/* 
    RESETS
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-indent: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a,
figure,
picture {
  margin: 0;
  text-decoration: inherit;
  color: inherit;
}

code {
  display: block;
  text-transform: lowercase;
}

/* 
    BASE
 */

html {
  font-size: 100%;
} /*16px*/

body {
  background: hsl(var(--atlas-color-light));
  font-family: var(--atlas-font-sans);
  font-weight: 400;
  line-height: var(--atlas-line-height);
  color: hsl(var(--atlas-color-dark) / var(--atlas-opacity-3));
  min-height: 100vh;
}

p {
  margin-bottom: var(--atlas-size-09);
  max-width: var(--atlas-max-char);
}

a {
  background: none !important;
  border-bottom: var(--atlas-size-16) solid;

  border-radius: var(--atlas-size-15);
  transition: var(--atlas-transition-slow);

  &:hover {
    border-bottom: var(--atlas-size-11) solid;
    transition: var(--atlas-transition-fast);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--atlas-font-sans);
  font-weight: 400;
  line-height: var(--atlas-line-height);
  margin-bottom: var(--atlas-size-09);
  text-shadow: var(--atlas-shadow-text);
  max-width: var(--atlas-max-char);
}

/* Headings */

h1 {
  font-family: var(--atlas-font-cursive);
  /* font-size: var(--atlas-size-04); */
  font-size: clamp(var(--atlas-size-07), 11.089vw + 1rem, var(--atlas-size-04));
  font-weight: 900;
}

h2 {
  /* font-size: var(--atlas-size-05); */
  font-size: clamp(var(--atlas-size-07), 6.854vw + 1rem, var(--atlas-size-05));
  font-weight: 400;
}

/* Subheadings */

h3 {
  /* font-size: var(--atlas-size-06); */
  font-size: clamp(var(--atlas-size-08), 4.236vw + 1rem, var(--atlas-size-06));
  font-weight: 400;
}

h4 {
  /* font-size: var(--atlas-size-07); */
  font-size: clamp(var(--atlas-size-08), 2.618vw + 1rem, var(--atlas-size-07));
  text-transform: uppercase;
  font-weight: 900;
}

h5 {
  /* font-size: var(--atlas-size-08); */
  font-size: clamp(var(--atlas-size-08), 1.618vw + 1rem, var(--atlas-size-07));
  text-transform: uppercase;
}

.numbered-title {
  text-transform: uppercase;
  position: relative;
  overflow-wrap: break-word;
  span {
    font-size: 0.618em;
    margin-right: var(--atlas-size-08);
    opacity: var(--atlas-opacity-2);
    pointer-events: none;
    user-select: none;
  }
}

small,
.text_small {
  font-size: var(--atlas-size-09);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select,
progress {
  @include atlas-shadow(var(--atlas-shadow-1));
  font: inherit;
  padding: var(--atlas-size-08) var(--atlas-size-10);
  border-width: var(--atlas-size-11);
  border-radius: var(--atlas-border-radius-1);

  transition: border-radius var(--atlas-transition-fast);
  animation: atlas var(--atlas-timing-slow);

  &:focus,
  &:hover {
    border-radius: var(--atlas-border-radius-2);
  }
}

[role="button"] {
  cursor: copy;
}

button,
.btn {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  padding: var(--atlas-size-08) var(--atlas-size-07);
  border-width: 0;
  border-radius: var(--atlas-border-radius-1);

  opacity: 1;

  animation: atlas var(--atlas-timing-slow);
  transition: border-radius var(--atlas-transition-fast);

  &:hover,
  &:focus {
    border-radius: var(--atlas-border-radius-2);
    animation: atlas var(--atlas-timing-fast);
  }
  &:active {
    @include atlas-shadow(none);
    border-radius: var(--atlas-border-radius-1);
    transition: border-radius 10ms ease-out;
    animation: none;
  }
}

[type="range"],
progress {
  padding: 0;
  margin: 0;
  border-radius: var(--atlas-size-10);
  animation: none;
  height: 1rem;
  border-style: solid;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}
/* 
    COLORS
*/

@mixin color_background_setting($name, $color_identity, $color_greyscale, $opacity) {
  .#{$name} {
    color: hsl($color_greyscale / $opacity);
    background: hsl($color_identity);
    border-color: hsl($color_greyscale / $opacity);
  }
  .#{$name}--invert {
    background: hsl($color_greyscale / $opacity);
    color: hsl($color_identity);
    border-color: hsl($color_identity);
  }
}

/*  IDENTITY */
/* PRIMARY */
@include color_background_setting(
  "primary",
  var(--atlas-color-primary),
  var(--atlas-color-light),
  var(--atlas-opacity-3)
);

/* SECONDARY */
@include color_background_setting(
  "secondary",
  var(--atlas-color-secondary),
  var(--atlas-color-light),
  var(--atlas-opacity-3)
);

/* TERTIARY */
@include color_background_setting(
  "tertiary",
  var(--atlas-color-tertiary),
  var(--atlas-color-dark),
  var(--atlas-opacity-3)
);

/* ACCENT */
@include color_background_setting(
  "accent",
  var(--atlas-color-accent),
  var(--atlas-color-light),
  var(--atlas-opacity-3)
);

/*  GREYSCALE */
/* DARK */
@include color_background_setting(
  "dark",
  var(--atlas-color-dark),
  var(--atlas-color-light),
  var(--atlas-opacity-3)
);

/* GREY */
@include color_background_setting(
  "grey",
  var(--atlas-color-grey),
  var(--atlas-color-light),
  var(--atlas-opacity-3)
);

/* LIGHTGREY */
@include color_background_setting(
  "lightgrey",
  var(--atlas-color-lightgrey),
  var(--atlas-color-dark),
  var(--atlas-opacity-3)
);

/* LIGHT */
@include color_background_setting(
  "light",
  var(--atlas-color-light),
  var(--atlas-color-dark),
  var(--atlas-opacity-3)
);

/*  UTILS */
/* INFO */
@include color_background_setting(
  "info",
  var(--atlas-color-info),
  var(--atlas-color-light),
  var(--atlas-opacity-3)
);

/* SUCCESS */
@include color_background_setting(
  "success",
  var(--atlas-color-success),
  var(--atlas-color-dark),
  var(--atlas-opacity-3)
);

/* WARNING */
@include color_background_setting(
  "warning",
  var(--atlas-color-warning),
  var(--atlas-color-dark),
  var(--atlas-opacity-3)
);

/* ERROR */
@include color_background_setting(
  "error",
  var(--atlas-color-error),
  var(--atlas-color-dark),
  var(--atlas-opacity-3)
);

// GRADIENT

.gradient {
  background: linear-gradient(
    -45deg,
    hsl(var(--atlas-color-primary)),
    hsl(var(--atlas-color-secondary)),
    hsl(var(--atlas-color-tertiary)),
    hsl(var(--atlas-color-accent))
  );
  background-size: 200% 200%;
  background-position: 0% 50%;
  background-attachment: fixed;
  transition: background-position var(--atlas-transition-slow);
  animation: gradient var(--atlas-timing-gradient) !important;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
}

/* LAYOUT */

/* General */
header,
main > *,
footer {
  padding: 0 var(--atlas-size-08);
  margin: 0 auto;
  max-width: 90rem;
}

section {
  min-height: 100vh;
}

/*  *:not(:first-child)  */
section > * + * {
  margin-top: var(--atlas-size-07);
}

main > .full-width {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

/* Section - Fullwidth  */
.full-width > * {
  padding: 0 var(--atlas-size-08);
  margin: 0 auto;
  max-width: var(--atlas-max-width);
}

/* Section - Hero */

.hero {
  display: grid;
  align-content: center;
  justify-content: center;
}

/* Container */
.container {
  // TODO
}

/* Wrapper */
.wrapper {
  @include atlas-shadow(var(--atlas-shadow-1));
  position: relative;
  border-radius: var(--atlas-border-radius-1);

  animation: atlas var(--atlas-timing-slow);

  &:hover {
    animation: atlas var(--atlas-timing-fast);
  }

  &:active {
    @include atlas-shadow(none);
  }
}

/* ANIMATIONS */

@keyframes atlas {
  0% {
    border-radius: var(--atlas-size-09) var(--atlas-size-10) 0 var(--atlas-size-08);
  }
  100% {
    border-radius: 0 var(--atlas-size-08) var(--atlas-size-09) var(--atlas-size-10);
  }
}

/* 
    A11LY <3
*/

/* Hides content for sighted user, but is available for screenreaders */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Removes animation */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
